
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-sm-6">
          <h4>Newsfeed</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">

    <div class="list-group">
      <% @messages.each do |message| %>
          <div class="list-group-item">
            <div class="pull-right text-semi">
              <span>
                <i class="icm icm-clock"></i>
                <span><%= time_ago_in_words message.created_at %> ago</span>
              </span>

            </div>
          <%= render partial: "messages/#{message.messageable_type.to_s.underscore}/#{message.action}", locals: { messageable: message.messageable, message: message } %>

          </div>

      <% end %>
    </div>
  </div>
</div>
