<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Edit <%= resource_name.to_s.humanize %>
    </div>
  </div>

  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: user_registration_path(resource), html: { method: :patch }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, readonly: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
          <%= f.input :password_confirmation, required: false %>
          <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update" %>
        </div>
    <% end %>

  </div>
</div>

