<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Sign Up
    </div>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>