<li id="commentable-<%= comment.commentable.class.to_s.underscore.dasherize %>-<%= comment.id %>">
  <div class="chat-box-timeline">
    <%= gravatar_image_tag(comment.user.email, class: 'img-responsive img-circle avatar') %>

    <div class="message">
      <div class="panel panel-light">
        <div class="panel-body panel-colorize panel-arrow-left">

          <div class="chat-box-timeline-title">
            <strong><%= comment.user.name %></strong>

            <div class="pull-right text-semi">
              <span>
                <i class="icm icm-clock"></i>
                <span><%= time_ago_in_words comment.created_at %> ago</span>
              </span>

              <a class="activate-comment-reply"><i class="icm icm-reply"></i></a>

            </div>
          </div>

          <div class="chat-box-timeline-content">
            <%= comment.body %>
          </div>

          <div class="chat-box-timeline-footer hidden">

            <%= form_tag comments_path, method: 'post', remote: true do %>
                <div class="media">
                  <a class="pull-left" href="#" data-no-turbolink="true">
                    <div class="media-object">
                      <%= image_tag(gravatar_image_url(current_user.email, size: 34), class: 'img-responsive img-circle avatar-input') %>
                    </div>
                  </a>

                  <div class="media-body">
                    <div class="input-group">

                      <%= hidden_field_tag :object_class, comment.commentable.class.to_s %>
                      <%= hidden_field_tag :object_id, comment.commentable.id %>
                      <%= hidden_field_tag :parent_comment_id, comment.id %>

                      <%= text_field_tag :message, nil,class: 'form-control', placeholder: 'Add Comment' %>
                      <span class="input-group-addon">
                            <button class="btn btn-xs btn-success">Reply</button>
                        </span>
                    </div>
                  </div>
                </div>

            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>

  <ul class="chat-box-timeline-list">
    <% if comment.has_children? %>
        <% comment.children.each do |c| %>
            <%= render c %>
        <% end %>
    <% end %>
  </ul>

</li>