<div class="padded">
  <div class="chat-box-timeline">
    <div class="panel panel-light">
      <div class="panel-body panel-colorize">
        <%= form_tag comments_path, method: 'post', remote: true do %>
            <div class="input-group">
              <%= hidden_field_tag :object_class, commentable.class.to_s %>
              <%= hidden_field_tag :object_id, commentable.id %>
              <%= hidden_field_tag :parent_comment_id, nil %>

              <%= text_field_tag :message, nil,class: 'form-control', placeholder: 'Add Comment' %>
              <span class="input-group-addon">
              <button class="btn btn-xs btn-success">Reply</button>
            </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <ul class="chat-box-timeline-list" id="root-comments">
    <%= render commentable.root_comments.order('created_at desc') %>
  </ul>


</div>