
var liComment = $("<%= escape_javascript(render @comment) %>");

<% if @parent_comment.present? %>
var parentCommentInnerUl = $("#commentable-<%= @parent_comment.commentable.class.to_s.underscore.dasherize %>-<%= @parent_comment.id %> > ul");
parentCommentInnerUl.append(liComment);

<% else %>
var rootUl = $("#root-comments");
rootUl.prepend(liComment);
<% end %>

liComment.find('.panel-body').effect('highlight', {}, 1000);
$('body').scrollTo(liComment);
$('.chat-box-timeline-footer input').val('');
$('.chat-box-timeline-footer').addClass('hidden');;
