<div class="form-group-row">
  <fieldset>
    <legend></legend>
  <div class="row">
    <div class="col-xs-3">
      <%= f.input :study_year_id, as: :hidden, input_html: { value: @study_year.id} %>
      <%= f.input :title, input_html: { placeholder: 'Course Name' }, label: false %>
    </div>

    <div class="col-xs-1">
      <%= link_to_remove_association '<i class="icm icm-bin"></i>'.html_safe, f, 'data-wrapper-class' => 'form-group-row' %>
    </div>

    <div class="col-xs-4">
      <%= f.input :teacher_ids,
                  as: :select,
                  collection: @department.available_teachers,
                  value_method: :id,
                  label_method: :to_label,
                  label: false,
                  input_html: {
                          multiple: true,
                          placeholder: 'Select Teachers'
                  }
      %>
    </div>

    <div class="col-xs-4">
      <%= f.input :student_ids,
                  as: :select,
                  collection: @available_students,
                  value_method: :id,
                  label_method: :to_label,
                  label: false,
                  input_html: {
                          multiple: true,
                          placeholder: 'Select Students'
                  }
      %>

    </div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :description %>
      </div>
    </div>
  </fieldset>
</div>