<div class="form-group-row">
  <div class="row">
    <div class="col-xs-10">
      <%= f.input :teacher_id,
                  as: :select,
                  include_blank: false,
                  label: false,
                  collection: @department.available_teachers,
                  value_method: :id,
                  label_method: :to_label
      %>
    </div>

    <div class="col-xs-1">
      <%= link_to_remove_association '<i class="icm icm-bin"></i>'.html_safe, f, 'data-wrapper-class' => 'form-group-row' %>
    </div>
  </div>

</div>