<%= simple_form_for [:admin, @study_year, @department] do |f| %>
    <%= f.input :name %>


    <div class="course-fields">
      <%= f.simple_fields_for :courses do |course| %>
          <%= render 'course_fields', f: course %>
      <% end %>
    </div>

    <%= link_to_add_association '<i class="icm icm-plus-circle"></i> <span>Add Course</span>'.html_safe, f, :courses,
                                partial: 'course_fields',
                                class: 'btn btn-success push-bottom',
                                'data-association-insertion-traversal' => 'siblings',
                                'data-association-insertion-node' => '.course-fields',
                                'data-association-insertion-method' => 'append',
                                'data-wrapper-class' => 'form-group-row' %>
    <fieldset>
      <legend></legend>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </fieldset>
<% end %>
