<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-sm-6">
          Departments
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'New Department', new_admin_study_year_department_path(@study_year), class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-bordered table-striped" >
      <thead>
      <tr>
        <th>Name</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <% @departments.each do |department| %>
          <tr>
            <td><%= link_to department.name, edit_admin_study_year_department_path(@study_year, department) %></td>
            <td>
              <%= link_to admin_study_year_department_path(@study_year,department), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete', rel: 'tooltip' do %>
                  <i class="icm icm-bin"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
