.form-control {
  &, &:focus {
    border: none;
    @include box-shadow(none);
  }
}

@mixin form-control-validation-reset($bg) {
  // Set the border and box shadow on specific inputs to match
  .form-control {
    background-color: $bg;
    color: #fff;
    @include box-shadow(none);
    &:focus,
    &:hover {
      border: none;
      background-color: $bg;
      color: #fff;
      @include box-shadow(none);
    }
    @include placeholder(#fff);
  }
}

.has-success {
  @include form-control-validation-reset($state-success-bg);
}
.has-warning {
  @include form-control-validation-reset($state-warning-bg);
}
.has-error {
  @include form-control-validation-reset($state-danger-bg);
}

.has-feedback.no-label {
  .form-control-feedback {
    top: 0;
  }
}

.radio, .checkbox {
  height: 20px;
}

.checkbox {
  margin:0; // NO IDEA WHY
}