@import "compass/css3/border-radius";

.navbar-brand {
  padding: 0 15px;
  line-height: $navbar-height - 5px;
  font-size: 24px;

  img {
    margin-right: 10px;
    display: inline-block;
  }
}

.btn-nav {
  @include btn-nav();
}

.navbar-form-search {
  .form-group, .form-control {
    display: block;
    width: 100%;
    .form-control-header {
      color: $input-color-placeholder;
    }
  }
  // xs
  @media (max-width: $screen-xs-max) {
    width: 100px;
  }
  // sm
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    width: 180px;
  }
  // md
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 350px;
  }
  // lg
  @media (min-width: $screen-lg-min) {
    width: 400px;
  }
}

.navbar-form-inplace {
  // Vertically center in expanded, horizontal navbar
  margin-top: 8px;
}

// no responsive stuff
.navbar-inplace {
  .navbar-nav {
    margin: auto;
    > li {
      float: left;
      > a {
        padding-top: 15px;
        padding-bottom: 15px;
        &.navbar-img-link {
          padding-top: 10px;
          padding-bottom: 10px;
          > img {
            width: 30px
          }
        }
      }
    }
  }
}

.navbar .dropdown-menu {
  top: $navbar-height + 10px;
  @include arrow(top, $dropdown-bg, 7px);
}

.navbar .navbar-right .dropdown-menu {
  @include arrow(top, $dropdown-bg, 7px, $offset: 50px);
}

.navbar-form-search input {
  background-color: rgba($brand-light, 0.2);
}

// Navbar brand label
.navbar-default .navbar-brand {
  &, &:hover {
    font-weight: 300;
  }
}


.navbar-default {
  border: none;
}