a {
  &, &:hover, &:focus, &:active {
    text-decoration: none;
    cursor: pointer;
  }
}

.base-header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: inherit;
}

.thin {
  font-weight: 300;
}

.hairline {
  font-family: $font-family-hairline;
  font-weight: 200;
}

.major {
  font-weight: 600;
}

.lead {
  font-weight: 300;
}

.panel-title {
  h1,h2,h3,h4,h5 {
    margin: 0;
  }
}