<%= content_for :panel_content do %>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions" %>
        </div>
    <% end %>

    <%= render "devise/shared/links" %>
<% end %>

<%= render partial: 'shared/panel', locals: { title: 'Forgot your password?' } %>

