.panel-placeholder {
  background-color: $brand-white;
}

$positions: top left right bottom;

@each $pos in $positions {
  .panel-line-#{$pos} {
    border-#{$pos}: 1px solid $brand-light;
  }
}

.panel {
  .panel-bg-inverse {
    background: $brand-primary;
    color: $brand-white;
  }
}

@each $pair in $emerald-colors {
  $name: nth($pair, 1);
  $bg: nth($pair, 2);
  $color: nth($pair,3);
  $inverse-bg: nth($pair, 4);
  $inverse-color: nth($pair, 5);

  .panel-#{$name} .panel-colorize, .panel-body-#{$name} {

    background: $bg;

    &, a:not(.btn), .form-control {
      color: $color;
    }

    &.panel-arrow-left:after {
      border-right-color: $bg;
    }

    .panel-text-dk {
      color: dkize($color);
    }

    .panel-text-lt {
      color: ltize($color);
    }

    .panel-text-lter {
      color: ltize($color, 30);
    }

    .form-control {
      @include placeholder($color)
    }

    .panel-bg-inverse {
      background: $inverse-bg;
      color: $inverse-color;
    }

    .panel-lt {
      @if $bg == $brand-white {
        background: #{dkize($bg)};
      } @else {
        background: #{ltize($bg)};
      }

      &, a, .form-control {
        color: $color;
      }
    }

    @each $pos in $positions {
      .panel-line-#{$pos} {
        @if $bg == $brand-white {
          border-#{$pos}: 1px solid dkize($bg);
        } @else {
          border-#{$pos}: 1px solid ltize($bg);
        }
      }
    }
  }
}

.panel-dark-hl {
  background: rgba(#000,0.05);
}

.panel-section {
  border-top: 1px solid $brand-light;
}

.panel-arrow-left {
  position: relative;
  @include arrow(left, $brand-white, 7px, $position: 20px);
}

.panel-shadow {
  @include box-shadow($panel-shadow);
}

.panel-rounded {
  overflow: hidden;
  border-radius: $border-radius-base;
}

@each $pair in $emerald-colors {
  .bg-#{nth($pair, 1)} {
    background: nth($pair, 2);
    color: nth($pair, 3);
  }
}

.bg-inherit {
  background: inherit;
}
