.v-mid-row {
  > * {
    vertical-align: middle;
  }
}

.hoverable {
  @include transition(background .3s);

  .visible-hover {
    opacity: 0;
    @include transition(opacity .3s);
  }

  &:hover {
    .visible-hover {
      opacity: 1;
    }
  }
}