@each $pair in $emerald-colors {
  .text-#{nth($pair, 1)} {
    color: nth($pair, 2);
  }
}

.text-faded {
  color: lterize($text-color);
  &:hover, &:focus, &:active {
    color: $text-color;
  }
}

@mixin responsive-text-align($step) {
  .text-left-#{$step} {
    text-align: left;
  }

  .text-right-#{$step} {
    text-align: right;
  }

  .text-center-#{$step} {
    text-align: center;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-text-align(xs);
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-text-align(sm);
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-text-align(md);
}

@media (min-width: $screen-lg-min) {
  @include responsive-text-align(lg);
}

.text-semi {
  opacity: .5;
}
