<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h4><%= title %></h4>
    </div>
  </div>

  <div class="panel-body">
    <%= yield :panel_content %>
  </div>
</div>




