<div class="panel panel-default">
<div class="panel-heading">
  <div class="panel-title">
<h2><%= t 'devise.invitations.edit.header' %></h2>
    </div>
  </div>

  <div class="panel-body">
  <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <div class="form-inputs">
  <%= devise_error_messages! %>

  <%= f.hidden_field :invitation_token %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  </div>
        <div class="form-actions">

  <%= f.button :submit, t("devise.invitations.edit.submit_button") %>
        </div>
<% end %>
      </div>
    </div>

