<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h2><%= t "devise.invitations.new.header" %></h2>
    </div>
  </div>

  <div class="panel-body">
    <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
        <div class="form-inputs">
          <%= devise_error_messages! %>

          <% resource.class.invite_key_fields.each do |field| -%>
              <%= f.input field %>
          <% end -%>
          <%= f.input :name %>
          <%= f.input :role, as: :select, collection: User::ROLES, include_blank: false %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t("devise.invitations.new.submit_button") %>
        </div>
    <% end %>
  </div>
</div>

