
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-sm-6">
          Courses
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">

    <div class="list-group">
      <% @courses.each do |course| %>
          <%= link_to course_chapters_path(course), class: 'list-group-item' do %>
              <h4 class="list-group-item-heading">
                <%= course.title %>
              </h4>
              <p class="list-group-item-text"><%= course.description %></p>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
