<h4 class="list-group-item-heading">
  Chapter <%= link_to messageable.name, course_chapter_path(messageable.course, messageable) %> was updated in the course <%= link_to messageable.course.title, course_chapters_path(messageable.course) %>
</h4>