<% if can? :create, Chapter.new(course: @course) %>
    <div class="panel">
      <div class="panel-body">
        <%= link_to 'New Chapter', new_course_chapter_path(@course), class: 'btn btn-success btn-block' %>
      </div>
    </div>
<% end %>

<div class="list-group">
  <% @course.chapters.each do |chapter| %>
      <div class="list-group-item <%= 'active' if @chapter == chapter %> clearfix">
        <%= link_to chapter.name, course_chapter_path(@course, chapter) %>
        <% if can? :destroy, chapter %>
            <%= link_to course_chapter_path(@course, chapter),
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        title: 'Delete',
                        rel: 'tooltip',
                        class: "pull-right" do %>
                <i class="icm icm-bin"></i>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>

<div class="list-group">
  <div class="list-group-item">
    <%= link_to 'Grades', course_student_grades_path(@course) %>
  </div>
</div>