<div class="form-group-row">
  <div class="row">
    <div class="col-xs-5">
      <%= f.input :file, as: :file, label: false %>
    </div>

    <div class="col-xs-1">
      <%= link_to_remove_association '<i class="icm icm-bin"></i>'.html_safe, f, 'data-wrapper-class' => 'form-group-row' %>
    </div>

    <% if f.object.file.present? %>
        <div class="col-xs-5">
          <%= link_to File.basename(f.object.file_url), f.object.file_url %>
        </div>
    <% end %>
  </div>

</div>