<%= simple_form_for [@course, @chapter] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>


    <div class="course-attachment-fields">
      <%= f.simple_fields_for :course_attachments do |course_attachment| %>
          <%= render 'course_attachment_fields', f: course_attachment %>
      <% end %>
    </div>

    <%= link_to_add_association '<i class="icm icm-plus-circle"></i> <span>Add File</span>'.html_safe, f, :course_attachments,
                                partial: 'course_attachment_fields',
                                class: 'btn btn-success push-bottom',
                                'data-association-insertion-traversal' => 'siblings',
                                'data-association-insertion-node' => '.course-attachment-fields',
                                'data-association-insertion-method' => 'append',
                                'data-wrapper-class' => 'form-group-row' %>
    <fieldset>
      <legend></legend>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    </fieldset>
<% end %>
