<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Edit Chapter to <%= @course.title %></div>
  </div>

  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>
