<div class="row">
  <div class="col-md-3">
    <%= render 'chapters/chapter_list' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <%= @course.title %>
        </div>
      </div>
      <div class="panel-body">
        <h5><%= @course.description %></h5>
      </div>
    </div>

    <div class="panel-body-white">
      <%= render partial: 'comments/index', locals: { commentable: @course } %>
    </div>
  </div>
</div>