<div class="row">
  <div class="col-md-3">
    <%= render 'chapters/chapter_list' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%= link_to @course.title, course_chapters_path(@course) %></b> - <%= @chapter.name %>
        </div>
      </div>

      <div class="panel-body">
        <h5><%= @chapter.description %></h5>
        <% if @chapter.course_attachments.present? %>
            <hr/>
            <h4>Files:</h4>

            <div class="row">
              <% @chapter.course_attachments.each do |course_attach| %>
                  <div class="col-sm-4">
                    <%= link_to File.basename(course_attach.file_url), course_attach.file_url %>
                  </div>
              <% end %>

            </div>
        <% end %>
      </div>
    </div>

    <div class="panel-body-white">
      <%= render partial: 'comments/index', locals: { commentable: @chapter } %>
    </div>
  </div>
</div>