$avatar-size: 48px;
$avatar-input: 34px;

.chat-box-timeline-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .chat-box-timeline-list {
    padding-left: $avatar-size+20px;
  }
}

.chat-box-timeline {

  .avatar {
    float: left;
    width: $avatar-size;
    height: $avatar-size;
  }

  .avatar-input {
    width: $avatar-input;
    height: $avatar-input;
  }

  .message {
    display: block;
    padding-left: $avatar-size+20px;
  }
  
  .label {
    margin-right: 10px;
  }

  blockquote {
    font-size: $font-size-base;
    margin-bottom: 0;
  }

  .chat-box-timeline-content {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .chat-box-timeline-footer {
    > a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }

    form {
      margin-top: $panel-body-padding;
    }
  }

  .form-group {
    margin-bottom: 0;
  }
}

.chat-box-timeline {

  .form-control, .input-group-addon {
    background: $brand-light;
  }

  .panel-light {
    blockquote {
      border-left: 5px solid dkize($brand-light);
    }

    .form-control, .input-group-addon {
      background: $brand-white;
      @include placeholder($gray-light);
    }
  }
}


