html, body {
  //sticky footer mod
  height: 100%;
}

.wrapper {
  //sticky footer mod
  display: table;
  height: 100%;
  width: 100%;
}

.block {
  //sticky footer mod
  display: table-row;
  height: 1px;
}

.push {
  //sticky footer mod
  height: auto;
}

footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}