<div class="row">
  <div class="col-md-3">
    <%= render 'chapters/chapter_list' %>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <b><%= link_to @course.title, course_chapters_path(@course) %></b> - Student grades
        </div>
      </div>

      <div class="panel-body">
      <table class="table table-striped table-hover">
        <% @students.each do |student| %>
            <tr class="<%= 'success' if student == current_user %>">
              <td>
                <%= student.name %>
              </td>
              <td>
                <% student_grade = @student_grades.detect { |s| s.student_id == student.id } || StudentGrade.new %>
                <%= best_in_place_if can?(:update, student_grade),  student_grade, :grade, :as => :textarea, url: course_student_grade_path(@course, student_grade) %>
              </td>
            </tr>
        <% end %>
      </table>
      </div>
    </div>

  </div>
</div>