$brand-white:                    #ffffff;
$brand-primary:                  #177bbb;
$brand-info:                     #1ccacc;
$brand-success:                  #1aae88;
$brand-warning:                  #FBB23E;
$brand-danger:                   #e33244;
$brand-black:                    #12131a;
$brand-dark:                     #222733;
$brand-light:                    #f2f4f8;
$brand-inverse:                  #433599;

$brand-success-ltest:            #eff8f7;
$brand-danger-ltest:             #fdf3f3;
$brand-info-ltest:               #eef6fd;

$body-bg:                        $brand-light;
$text-color:                     darken(#6c757b, 17%);
$text-muted:                     lighten($text-color, 25%);

$gray-darker:            lighten(#000, 13.5%); // #222
$gray-dark:              lighten(#000, 20%);   // #333
$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

$font-family-sans-serif:         "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:              Georgia, "Times New Roman", Times, serif;
$font-family-base:               $font-family-sans-serif;
$font-family-hairline:           "Open Sans";

$grid-gutter-width: 30px;

$font-size-base:                 13px;
$font-size-tiny:                 ceil(($font-size-base * 0.76)) !default; // ~10px
$font-size-lg:                   ceil($font-size-base * 1.23); // ~16px
$font-size-md:                   ceil($font-size-base * 1.07); // ~14px
$font-size-sm:                   ceil($font-size-base * 0.92); // ~12px
$font-size-xs:                   ceil($font-size-base * 0.84); // ~11px

$link-color:                     $text-color;
$link-hover-color:               $text-color;

$border-radius-base:             2px;
$border-color:                   #eaeef1;

$component-shadow:               rgba(0,0,0,0.3) 0 10px 60px,rgba(0,0,0,0.1) 0 0 20px;
$component-active-bg:            $brand-success;

$line-height-base:               1.53846154; // 20/13
$line-height-computed:           floor($font-size-base * $line-height-base); // ~20px

$btn-default-color:              $text-color;
$btn-default-bg:                 $brand-light;
$btn-default-border:             darken($border-color, 8%);

$btn-primary-color:              $brand-white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-success-color:              $brand-white;
$btn-success-bg:                 $brand-success;
$btn-success-border:             $btn-success-bg;

$btn-info-color:                 $brand-white;
$btn-info-bg:                    $brand-info;
$btn-info-border:                $btn-info-bg;

$btn-warning-color:              $brand-white;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             $btn-warning-bg;

$btn-danger-color:               $brand-white;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              $btn-danger-bg;

$btn-dark-color:                 $brand-white;
$btn-dark-bg:                    $brand-dark;
$btn-dark-border:                $btn-dark-bg;

//color lists and names

//low level saturation/darken of a color
@function dkize($color, $percent: 5%, $saturation: 2.5%){
  @return saturate(darken($color, $percent), $saturation);
}

//low level desaturation/lighen of a color
@function ltize($color, $percent: 4%, $desaturation: 5%) {
  @return desaturate(lighten($color, $percent), $desaturation);
}

//medium level desaturation/lighten of a color
@function lterize($color) {
  @return ltize($color, 15%, 5%);
}

//medium level saturation/darken of a color
@function dkerize($color){
  @return dkize($color, 15%, 5%);
}

//== Breadcrumbs
//
//##

$breadcrumb-padding-vertical:   8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg:                 transparent;
$breadcrumb-color:              $text-color;
$breadcrumb-active-color:       $text-muted;
$breadcrumb-separator:          "/";

//other theme variables

$input-color:                      $text-color;

// navs
$nav-tabs-active-link-hover-bg: ltize($brand-light, 5%);
$nav-pills-light-active-link-hover-bg: dkize($brand-light) !default;

// navbar
$breadcrumb-active-color:          $text-color;
$breadcrumb-color:                 $text-color;
$navbar-default-color:             $text-color;
$navbar-default-link-color:        $text-color;

//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$alert-padding:                  10px;

$state-success-text:             $brand-white;
$state-success-bg:               ltize($brand-success);

$state-info-text:                $brand-white;
$state-info-bg:                  $brand-info;

$state-warning-text:             $brand-white;
$state-warning-bg:               $brand-warning;

$state-danger-text:              $brand-danger;
$state-danger-bg:                ltize($brand-danger);

// colors
$oc-wrapper-bg:                    $brand-black;
$oc-container-bg:                  $brand-light;
$oc-sidebar-header-bg:             ltize($brand-black);
$navbar-default-bg:                $brand-white;
$navbar-bg:                        $brand-white;
$sidebar-toggle-bg:                $brand-dark; //NOT USED?
$sidebar-dropdown-bg:              ltize($brand-black);

$sidebar-link-color:               lighten($text-color, 20%);
$sidebar-link-color-over:          dkize($brand-light, 20%);

$sidebar-link-bg-over:             lighten(ltize($brand-black), 1);

$oc-partial-menu-hover-bg:         $brand-black;
$oc-search-input-bg:               rgba($brand-dark, 0.1);
$oc-search-input-bg-over:          rgba($brand-dark, 0.2);

// forms
$input-color: darken($text-color, 8%);
$input-color-placeholder: lighten($text-color, 20%);
$input-bg: rgba($brand-light, 0.7);
$input-border: none;

//== Panels
//
//##

//** Border color for elements within panels
$panel-inner-border:          transparent;
$panel-footer-bg:             #fff;

$panel-default-text:          $text-color;
$panel-default-border:        $brand-light;
$panel-default-heading-bg:    rgba($brand-light, 0.2);

$panel-primary-text:          #fff;
$panel-primary-heading-bg:    $brand-primary;

$panel-success-text:          #fff;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             #fff;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          #fff;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           #fff;
$panel-danger-heading-bg:     $state-danger-bg;

$panel-primary-text:          #fff;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

$panel-light-border: $brand-light;
$panel-light-text: $text-color;
$panel-light-heading-bg: $brand-light;

$panel-dark-border: $brand-dark;
$panel-dark-text: #fff;
$panel-dark-heading-bg: $brand-dark;

$panel-black-border: $brand-black;
$panel-black-text: #fff;
$panel-black-heading-bg: $brand-black;

$panel-inverse-border: $brand-inverse;
$panel-inverse-text: #fff;
$panel-inverse-heading-bg: $brand-inverse;

$panel-shadow: 0 1px 2px 0px rgba(0,0,0,.1);

// chat
$chat-color: $brand-light;
$chat-color-bg: $brand-black;
$chat-faded-color: $brand-dark;

//popovers

$popover-color: #fff; // a nice yellow -> lighten(adjust-hue($brand-warning, 12deg), 4%);
$popover-bg: $popover-color;
$popover-border-color: $popover-color;
$popover-fallback-border-color: $popover-color;
$popover-arrow-color: $popover-color;
$popover-arrow-outer-color: $popover-color;
$popover-arrow-outer-fallback-color: $popover-color;
$popover-arrow-outer-width: 8px;

// selectize
$selectize-shadow-input: none;
$selectize-shadow-input-focus: none;
$selectize-color-item: ltize($brand-success);
$selectize-border-radius: 4px;
$selectize-color-text: #fff;
$selectize-dropdown-text-color: $text-color;

//timeline
$tl-mid-line-color: dkize($brand-light);
$tl-mid-line-width: 3px;
$tl-shadow: none;
$tl-bg: $brand-white;
$tl-arrow-size: 10px;
$tl-arrow-top: 26px;
$tl-badge-size: 11px;

// z values

// $zindex-navbar:            1000 !default;
$zindex-dropdown:          2000 !default;
$zindex-popover:           2010 !default;
$zindex-tooltip:           2030 !default;
//$zindex-navbar-fixed:      1030 !default;
//$zindex-modal-background:  1040 !default;
//$zindex-modal:             1050 !default;

//== Pagination
//

$pagination-color:                     $text-color;
$pagination-bg:                        #fff;
$pagination-border:                    $brand-light;

$pagination-hover-color:               $link-hover-color;
$pagination-hover-bg:                  $brand-light;
$pagination-hover-border:              dkize($brand-light);

$pagination-active-color:              #fff;
$pagination-active-bg:                 $brand-success;
$pagination-active-border:             $brand-success;

$pagination-disabled-color:            dkize($brand-light);
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           $brand-light;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px;

//** Default background color used for all tables.
$table-bg:                      transparent;
//** Background color used for `.table-striped`.
$table-bg-accent:               $brand-light;
//** Background color used for `.table-hover`.
$table-bg-hover:                $brand-light;
$table-bg-active:               $brand-light;

//** Border color for table and cell borders.
$table-border-color:            $brand-light;


$headings-line-height: 1.3;

//name,         background,                   text,          inverse background, inverse background's text
$emerald-colors:
  white         $brand-white                  $text-color    $brand-primary      $brand-white,
  semi-light    $panel-default-heading-bg     $text-color    $brand-primary      $brand-white,
  light         $brand-light                  $text-color    $brand-primary      $brand-white,
  primary       $brand-primary                $brand-white   $brand-white        $text-color,
  info          $brand-info                   $brand-white   $brand-white        $text-color,
  success       $brand-success                $brand-white   $brand-white        $text-color,
  warning       $brand-warning                $brand-white   $brand-white        $text-color,
  danger        $brand-danger                 $brand-white   $brand-white        $text-color,
  black         $brand-black                  $brand-white   $brand-white        $text-color,
  dark          $brand-dark                   $brand-white   $brand-white        $text-color,
  inverse       $brand-inverse                $brand-white   $brand-white        $text-color,

  light-lt      ltize($brand-light)           $text-color    $brand-primary      $brand-white,
  primary-lt    ltize($brand-primary)         $brand-white   $brand-primary      $brand-white,
  info-lt       ltize($brand-info)            $brand-white   $brand-white        $text-color,
  success-lt    ltize($brand-success)         $brand-white   $brand-white        $text-color,
  warning-lt    ltize($brand-warning)         $brand-white   $brand-white        $text-color,
  danger-lt     ltize($brand-danger)          $brand-white   $brand-white        $text-color,
  black-lt      ltize($brand-black)           $brand-white   $brand-white        $text-color,
  dark-lt       ltize($brand-dark)            $brand-white   $brand-white        $text-color,
  inverse-lt    ltize($brand-inverse)         $brand-white   $brand-white        $text-color,

  light-lter    lterize($brand-light)         $text-color    $brand-primary      $brand-white,
  primary-lter  lterize($brand-primary)       $brand-white   $brand-primary      $brand-white,
  info-lter     lterize($brand-info)          $brand-white   $brand-white        $text-color,
  success-lter  lterize($brand-success)       $brand-white   $brand-white        $text-color,
  warning-lter  lterize($brand-warning)       $brand-white   $brand-white        $text-color,
  danger-lter   lterize($brand-danger)        $brand-white   $brand-white        $text-color,
  black-lter    lterize($brand-black)         $brand-white   $brand-white        $text-color,
  dark-lter     lterize($brand-dark)          $brand-white   $brand-white        $text-color,
  inverse-lter  lterize($brand-inverse)       $brand-white   $brand-white        $text-color,

  white-dk      dkize($brand-white)           $text-color    $brand-primary      $brand-white,
  light-dk      dkize($brand-light)           $text-color    $brand-primary      $brand-white,
  primary-dk    dkize($brand-primary)         $brand-white   $brand-white        $text-color,
  info-dk       dkize($brand-info)            $brand-white   $brand-white        $text-color,
  success-dk    dkize($brand-success)         $brand-white   $brand-white        $text-color,
  warning-dk    dkize($brand-warning)         $brand-white   $brand-white        $text-color,
  danger-dk     dkize($brand-danger)          $brand-white   $brand-white        $text-color,
  dark-dk       dkize($brand-dark)            $brand-white   $brand-white        $text-color,
  inverse-dk    dkize($brand-inverse)         $brand-white   $brand-white        $text-color;

$em-white-colors:
  success-ltest $brand-success-ltest,
  info-ltest    $brand-info-ltest,
  danger-ltest  $brand-danger-ltest;

@function vars-to-json() {
  $json: '{ "colors": [';
  @each $pair in $emerald-colors {
    $json: $json + '["#{nth($pair, 1)}", "#{nth($pair, 2)}", "#{nth($pair, 3)}"]';
    @if $pair != nth($emerald-colors, length($emerald-colors)) {
      $json: $json + ',';
    }
  }
  $json: $json + ']}';
  @return $json;
}