<%= simple_form_for [:admin, @user] do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <% unless @user.persisted? %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
    <% end %>
    <%= f.input :role, as: :select, collection: User::ROLES, include_blank: false %>
    <%= f.button :submit %>
<% end %>