<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-sm-6">
          Users
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'Invite', new_user_invitation_path, class: 'btn btn-primary btn-sm' %>
          <%= link_to 'New User', new_admin_user_path, class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-bordered table-striped" >
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td>
              <%= link_to edit_admin_user_path(user), title: 'Edit', rel: 'tooltip' do %>
                  <i class="icm icm-pencil"></i>
              <% end %>

              <% if can?(:destroy, user) %>
                  <%= link_to admin_user_path(user), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete', rel: 'tooltip' do %>
                      <i class="icm icm-bin"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
