<%= simple_form_for [:admin, @course] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :tag_list %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
