<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-sm-6">
          Courses
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'New Course', new_admin_course_path, class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-bordered table-striped" >
      <thead>
      <tr>
        <th>Title</th>
        <th>Tags</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <% @courses.each do |course| %>
          <tr>
            <td><%= course.title %></td>

            <td>
              <% course.tags.each do |tag| %>
                  <%= link_to admin_courses_path(tag: tag.name) do %>
                      <span class="label label-success"><%= tag.name %></span>
                  <% end %>
              <% end %>
            </td>

            <td>
              <%= link_to edit_admin_course_path(course), title: 'Edit', rel: 'tooltip' do %>
                  <i class="icm icm-pencil"></i>
              <% end %>

              <%= link_to admin_course_path(course), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete', rel: 'tooltip' do %>
                  <i class="icm icm-bin"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
