<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <div class="row">
        <div class="col-sm-6">
          Study Years
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to 'New Study Year', new_admin_study_year_path, class: 'btn btn-success btn-sm' %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-bordered table-striped" >
      <thead>
      <tr>
        <th>Name</th>
        <th>Options</th>
      </tr>
      </thead>
      <tbody>
      <% @study_years.each do |study_year| %>
          <tr>
            <td><%= link_to study_year.name, admin_study_year_departments_path(study_year) %></td>
            <td>
              <%= link_to edit_admin_study_year_path(study_year), title: 'Edit', rel: 'tooltip' do %>
                  <i class="icm icm-pencil"></i>
              <% end %>

              <%= link_to admin_study_year_path(study_year), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete', rel: 'tooltip' do %>
                  <i class="icm icm-bin"></i>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
