@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon/icomoon.eot?1c5so1');
  src:font-url('icomoon/icomoon.eot?#iefix1c5so1') format('embedded-opentype'),
      font-url('icomoon/icomoon.woff?1c5so1') format('woff'),
      font-url('icomoon/icomoon.ttf?1c5so1') format('truetype'),
      font-url('icomoon/icomoon.svg?1c5so1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icm {
  font-size: 16px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.icm-2x {
    font-size: 32px;
  }

  &.icm-3x {
    font-size: 48px;
  }

  &.icm-4x {
    font-size: 64px;
  }

  + span {
    vertical-align: middle;
    display: inline-block;
  }
}
.icm-home:before {
  content: "\e900";
}

.icm-home2:before {
  content: "\e901";
}

.icm-home3:before {
  content: "\e902";
}

.icm-home4:before {
  content: "\e903";
}

.icm-home5:before {
  content: "\e904";
}

.icm-home6:before {
  content: "\e905";
}

.icm-home7:before {
  content: "\e906";
}

.icm-home8:before {
  content: "\e907";
}

.icm-home9:before {
  content: "\e908";
}

.icm-office:before {
  content: "\e909";
}

.icm-city:before {
  content: "\e90a";
}

.icm-newspaper:before {
  content: "\e90b";
}

.icm-magazine:before {
  content: "\e90c";
}

.icm-design:before {
  content: "\e90d";
}

.icm-pencil:before {
  content: "\e90e";
}

.icm-pencil2:before {
  content: "\e90f";
}

.icm-pencil3:before {
  content: "\e910";
}

.icm-pencil4:before {
  content: "\e911";
}

.icm-pencil5:before {
  content: "\e912";
}

.icm-pencil6:before {
  content: "\e913";
}

.icm-pencil7:before {
  content: "\e914";
}

.icm-eraser:before {
  content: "\e915";
}

.icm-eraser2:before {
  content: "\e916";
}

.icm-eraser3:before {
  content: "\e917";
}

.icm-quill:before {
  content: "\e918";
}

.icm-quill2:before {
  content: "\e919";
}

.icm-quill3:before {
  content: "\e91a";
}

.icm-quill4:before {
  content: "\e91b";
}

.icm-pen:before {
  content: "\e91c";
}

.icm-pen-plus:before {
  content: "\e91d";
}

.icm-pen-minus:before {
  content: "\e91e";
}

.icm-pen2:before {
  content: "\e91f";
}

.icm-pen3:before {
  content: "\e920";
}

.icm-pen4:before {
  content: "\e921";
}

.icm-pen5:before {
  content: "\e922";
}

.icm-marker:before {
  content: "\e923";
}

.icm-marker2:before {
  content: "\e924";
}

.icm-blog:before {
  content: "\e925";
}

.icm-blog2:before {
  content: "\e926";
}

.icm-pen6:before {
  content: "\e927";
}

.icm-brush:before {
  content: "\e928";
}

.icm-spray:before {
  content: "\e929";
}

.icm-palette:before {
  content: "\e92a";
}

.icm-palette2:before {
  content: "\e92b";
}

.icm-color-sampler:before {
  content: "\e92c";
}

.icm-toggle:before {
  content: "\e92d";
}

.icm-bucket:before {
  content: "\e92e";
}

.icm-bucket2:before {
  content: "\e92f";
}

.icm-gradient:before {
  content: "\e930";
}

.icm-eyedropper:before {
  content: "\e931";
}

.icm-eyedropper2:before {
  content: "\e932";
}

.icm-eyedropper3:before {
  content: "\e933";
}

.icm-droplet:before {
  content: "\e934";
}

.icm-droplet2:before {
  content: "\e935";
}

.icm-droplet-contrast:before {
  content: "\e936";
}

.icm-color-clear:before {
  content: "\e937";
}

.icm-paint-format:before {
  content: "\e938";
}

.icm-stamp:before {
  content: "\e939";
}

.icm-images:before {
  content: "\e93a";
}

.icm-image:before {
  content: "\e93b";
}

.icm-image2:before {
  content: "\e93c";
}

.icm-image-compare:before {
  content: "\e93d";
}

.icm-images2:before {
  content: "\e93e";
}

.icm-image3:before {
  content: "\e93f";
}

.icm-images3:before {
  content: "\e940";
}

.icm-image4:before {
  content: "\e941";
}

.icm-image5:before {
  content: "\e942";
}

.icm-image6:before {
  content: "\e943";
}

.icm-camera:before {
  content: "\e944";
}

.icm-camera2:before {
  content: "\e945";
}

.icm-camera3:before {
  content: "\e946";
}

.icm-shutter:before {
  content: "\e947";
}

.icm-headphones:before {
  content: "\e948";
}

.icm-headset:before {
  content: "\e949";
}

.icm-music:before {
  content: "\e94a";
}

.icm-music2:before {
  content: "\e94b";
}

.icm-music3:before {
  content: "\e94c";
}

.icm-music4:before {
  content: "\e94d";
}

.icm-music5:before {
  content: "\e94e";
}

.icm-music6:before {
  content: "\e94f";
}

.icm-album:before {
  content: "\e950";
}

.icm-cassette:before {
  content: "\e951";
}

.icm-tape:before {
  content: "\e952";
}

.icm-piano:before {
  content: "\e953";
}

.icm-guitar:before {
  content: "\e954";
}

.icm-trumpet:before {
  content: "\e955";
}

.icm-speakers:before {
  content: "\e956";
}

.icm-play:before {
  content: "\e957";
}

.icm-play2:before {
  content: "\e958";
}

.icm-clapboard-play:before {
  content: "\e959";
}

.icm-clapboard:before {
  content: "\e95a";
}

.icm-media:before {
  content: "\e95b";
}

.icm-presentation:before {
  content: "\e95c";
}

.icm-movie:before {
  content: "\e95d";
}

.icm-film:before {
  content: "\e95e";
}

.icm-film2:before {
  content: "\e95f";
}

.icm-film3:before {
  content: "\e960";
}

.icm-film4:before {
  content: "\e961";
}

.icm-video-camera:before {
  content: "\e962";
}

.icm-video-camera2:before {
  content: "\e963";
}

.icm-video-camera-slash:before {
  content: "\e964";
}

.icm-video-camera3:before {
  content: "\e965";
}

.icm-video-camera4:before {
  content: "\e966";
}

.icm-video-camera-slash2:before {
  content: "\e967";
}

.icm-video-camera5:before {
  content: "\e968";
}

.icm-recording:before {
  content: "\e969";
}

.icm-dice:before {
  content: "\e96a";
}

.icm-gamepad:before {
  content: "\e96b";
}

.icm-gamepad2:before {
  content: "\e96c";
}

.icm-gamepad3:before {
  content: "\e96d";
}

.icm-pacman:before {
  content: "\e96e";
}

.icm-spades:before {
  content: "\e96f";
}

.icm-clubs:before {
  content: "\e970";
}

.icm-diamonds:before {
  content: "\e971";
}

.icm-chess-king:before {
  content: "\e972";
}

.icm-chess-queen:before {
  content: "\e973";
}

.icm-chess-rock:before {
  content: "\e974";
}

.icm-chess-bishop:before {
  content: "\e975";
}

.icm-chess-knight:before {
  content: "\e976";
}

.icm-chess-pawn:before {
  content: "\e977";
}

.icm-chess:before {
  content: "\e978";
}

.icm-bullhorn:before {
  content: "\e979";
}

.icm-megaphone:before {
  content: "\e97a";
}

.icm-new:before {
  content: "\e97b";
}

.icm-connection:before {
  content: "\e97c";
}

.icm-connection2:before {
  content: "\e97d";
}

.icm-connection3:before {
  content: "\e97e";
}

.icm-connection4:before {
  content: "\e97f";
}

.icm-podcast:before {
  content: "\e980";
}

.icm-station:before {
  content: "\e981";
}

.icm-station2:before {
  content: "\e982";
}

.icm-antenna:before {
  content: "\e983";
}

.icm-satellite-dish:before {
  content: "\e984";
}

.icm-satellite-dish2:before {
  content: "\e985";
}

.icm-feed:before {
  content: "\e986";
}

.icm-podcast2:before {
  content: "\e987";
}

.icm-antenna2:before {
  content: "\e988";
}

.icm-mic:before {
  content: "\e989";
}

.icm-mic-off:before {
  content: "\e98a";
}

.icm-mic2:before {
  content: "\e98b";
}

.icm-mic-off2:before {
  content: "\e98c";
}

.icm-mic3:before {
  content: "\e98d";
}

.icm-mic4:before {
  content: "\e98e";
}

.icm-mic5:before {
  content: "\e98f";
}

.icm-book:before {
  content: "\e990";
}

.icm-book2:before {
  content: "\e991";
}

.icm-book-play:before {
  content: "\e992";
}

.icm-book3:before {
  content: "\e993";
}

.icm-bookmark:before {
  content: "\e994";
}

.icm-books:before {
  content: "\e995";
}

.icm-archive:before {
  content: "\e996";
}

.icm-reading:before {
  content: "\e997";
}

.icm-library:before {
  content: "\e998";
}

.icm-library2:before {
  content: "\e999";
}

.icm-graduation:before {
  content: "\e99a";
}

.icm-file-text:before {
  content: "\e99b";
}

.icm-profile:before {
  content: "\e99c";
}

.icm-file-empty:before {
  content: "\e99d";
}

.icm-file-empty2:before {
  content: "\e99e";
}

.icm-files-empty:before {
  content: "\e99f";
}

.icm-files-empty2:before {
  content: "\e9a0";
}

.icm-file-plus:before {
  content: "\e9a1";
}

.icm-file-plus2:before {
  content: "\e9a2";
}

.icm-file-minus:before {
  content: "\e9a3";
}

.icm-file-minus2:before {
  content: "\e9a4";
}

.icm-file-download:before {
  content: "\e9a5";
}

.icm-file-download2:before {
  content: "\e9a6";
}

.icm-file-upload:before {
  content: "\e9a7";
}

.icm-file-upload2:before {
  content: "\e9a8";
}

.icm-file-check:before {
  content: "\e9a9";
}

.icm-file-check2:before {
  content: "\e9aa";
}

.icm-file-eye:before {
  content: "\e9ab";
}

.icm-file-eye2:before {
  content: "\e9ac";
}

.icm-file-text2:before {
  content: "\e9ad";
}

.icm-file-text3:before {
  content: "\e9ae";
}

.icm-file-picture:before {
  content: "\e9af";
}

.icm-file-picture2:before {
  content: "\e9b0";
}

.icm-file-music:before {
  content: "\e9b1";
}

.icm-file-music2:before {
  content: "\e9b2";
}

.icm-file-play:before {
  content: "\e9b3";
}

.icm-file-play2:before {
  content: "\e9b4";
}

.icm-file-video:before {
  content: "\e9b5";
}

.icm-file-video2:before {
  content: "\e9b6";
}

.icm-copy:before {
  content: "\e9b7";
}

.icm-copy2:before {
  content: "\e9b8";
}

.icm-file-zip:before {
  content: "\e9b9";
}

.icm-file-zip2:before {
  content: "\e9ba";
}

.icm-file-xml:before {
  content: "\e9bb";
}

.icm-file-xml2:before {
  content: "\e9bc";
}

.icm-file-css:before {
  content: "\e9bd";
}

.icm-file-css2:before {
  content: "\e9be";
}

.icm-file-presentation:before {
  content: "\e9bf";
}

.icm-file-presentation2:before {
  content: "\e9c0";
}

.icm-file-stats:before {
  content: "\e9c1";
}

.icm-file-stats2:before {
  content: "\e9c2";
}

.icm-file-locked:before {
  content: "\e9c3";
}

.icm-file-locked2:before {
  content: "\e9c4";
}

.icm-file-spreadsheet:before {
  content: "\e9c5";
}

.icm-file-spreadsheet2:before {
  content: "\e9c6";
}

.icm-copy3:before {
  content: "\e9c7";
}

.icm-copy4:before {
  content: "\e9c8";
}

.icm-paste:before {
  content: "\e9c9";
}

.icm-paste2:before {
  content: "\e9ca";
}

.icm-paste3:before {
  content: "\e9cb";
}

.icm-paste4:before {
  content: "\e9cc";
}

.icm-stack:before {
  content: "\e9cd";
}

.icm-stack2:before {
  content: "\e9ce";
}

.icm-stack3:before {
  content: "\e9cf";
}

.icm-folder:before {
  content: "\e9d0";
}

.icm-folder-search:before {
  content: "\e9d1";
}

.icm-folder-download:before {
  content: "\e9d2";
}

.icm-folder-upload:before {
  content: "\e9d3";
}

.icm-folder-plus:before {
  content: "\e9d4";
}

.icm-folder-plus2:before {
  content: "\e9d5";
}

.icm-folder-minus:before {
  content: "\e9d6";
}

.icm-folder-minus2:before {
  content: "\e9d7";
}

.icm-folder-check:before {
  content: "\e9d8";
}

.icm-folder-heart:before {
  content: "\e9d9";
}

.icm-folder-remove:before {
  content: "\e9da";
}

.icm-folder2:before {
  content: "\e9db";
}

.icm-folder-open:before {
  content: "\e9dc";
}

.icm-folder3:before {
  content: "\e9dd";
}

.icm-folder4:before {
  content: "\e9de";
}

.icm-folder-plus3:before {
  content: "\e9df";
}

.icm-folder-minus3:before {
  content: "\e9e0";
}

.icm-folder-plus4:before {
  content: "\e9e1";
}

.icm-folder-minus4:before {
  content: "\e9e2";
}

.icm-folder-download2:before {
  content: "\e9e3";
}

.icm-folder-upload2:before {
  content: "\e9e4";
}

.icm-folder-download3:before {
  content: "\e9e5";
}

.icm-folder-upload3:before {
  content: "\e9e6";
}

.icm-folder5:before {
  content: "\e9e7";
}

.icm-folder-open2:before {
  content: "\e9e8";
}

.icm-folder6:before {
  content: "\e9e9";
}

.icm-folder-open3:before {
  content: "\e9ea";
}

.icm-certificate:before {
  content: "\e9eb";
}

.icm-cc:before {
  content: "\e9ec";
}

.icm-price-tag:before {
  content: "\e9ed";
}

.icm-price-tag2:before {
  content: "\e9ee";
}

.icm-price-tags:before {
  content: "\e9ef";
}

.icm-price-tag3:before {
  content: "\e9f0";
}

.icm-price-tags2:before {
  content: "\e9f1";
}

.icm-price-tag4:before {
  content: "\e9f2";
}

.icm-price-tags3:before {
  content: "\e9f3";
}

.icm-price-tag5:before {
  content: "\e9f4";
}

.icm-price-tags4:before {
  content: "\e9f5";
}

.icm-barcode:before {
  content: "\e9f6";
}

.icm-barcode2:before {
  content: "\e9f7";
}

.icm-qrcode:before {
  content: "\e9f8";
}

.icm-ticket:before {
  content: "\e9f9";
}

.icm-ticket2:before {
  content: "\e9fa";
}

.icm-theater:before {
  content: "\e9fb";
}

.icm-store:before {
  content: "\e9fc";
}

.icm-store2:before {
  content: "\e9fd";
}

.icm-cart:before {
  content: "\e9fe";
}

.icm-cart2:before {
  content: "\e9ff";
}

.icm-cart3:before {
  content: "\ea00";
}

.icm-cart4:before {
  content: "\ea01";
}

.icm-cart5:before {
  content: "\ea02";
}

.icm-cart-add:before {
  content: "\ea03";
}

.icm-cart-add2:before {
  content: "\ea04";
}

.icm-cart-remove:before {
  content: "\ea05";
}

.icm-basket:before {
  content: "\ea06";
}

.icm-bag:before {
  content: "\ea07";
}

.icm-bag2:before {
  content: "\ea08";
}

.icm-percent:before {
  content: "\ea09";
}

.icm-coins:before {
  content: "\ea0a";
}

.icm-coin-dollar:before {
  content: "\ea0b";
}

.icm-coin-euro:before {
  content: "\ea0c";
}

.icm-coin-pound:before {
  content: "\ea0d";
}

.icm-coin-yen:before {
  content: "\ea0e";
}

.icm-piggy-bank:before {
  content: "\ea0f";
}

.icm-wallet:before {
  content: "\ea10";
}

.icm-cash:before {
  content: "\ea11";
}

.icm-cash2:before {
  content: "\ea12";
}

.icm-cash3:before {
  content: "\ea13";
}

.icm-cash4:before {
  content: "\ea14";
}

.icm-credit-card:before {
  content: "\ea15";
}

.icm-credit-card2:before {
  content: "\ea16";
}

.icm-calculator:before {
  content: "\ea17";
}

.icm-calculator2:before {
  content: "\ea18";
}

.icm-calculator3:before {
  content: "\ea19";
}

.icm-chip:before {
  content: "\ea1a";
}

.icm-lifebuoy:before {
  content: "\ea1b";
}

.icm-phone:before {
  content: "\ea1c";
}

.icm-phone2:before {
  content: "\ea1d";
}

.icm-phone-slash:before {
  content: "\ea1e";
}

.icm-phone-wave:before {
  content: "\ea1f";
}

.icm-phone-plus:before {
  content: "\ea20";
}

.icm-phone-minus:before {
  content: "\ea21";
}

.icm-phone-plus2:before {
  content: "\ea22";
}

.icm-phone-minus2:before {
  content: "\ea23";
}

.icm-phone-incoming:before {
  content: "\ea24";
}

.icm-phone-outgoing:before {
  content: "\ea25";
}

.icm-phone3:before {
  content: "\ea26";
}

.icm-phone-slash2:before {
  content: "\ea27";
}

.icm-phone-wave2:before {
  content: "\ea28";
}

.icm-phone-hang-up:before {
  content: "\ea29";
}

.icm-phone-hang-up2:before {
  content: "\ea2a";
}

.icm-address-book:before {
  content: "\ea2b";
}

.icm-address-book2:before {
  content: "\ea2c";
}

.icm-address-book3:before {
  content: "\ea2d";
}

.icm-notebook:before {
  content: "\ea2e";
}

.icm-at-sign:before {
  content: "\ea2f";
}

.icm-envelop:before {
  content: "\ea30";
}

.icm-envelop2:before {
  content: "\ea31";
}

.icm-envelop3:before {
  content: "\ea32";
}

.icm-envelop4:before {
  content: "\ea33";
}

.icm-envelop5:before {
  content: "\ea34";
}

.icm-mailbox:before {
  content: "\ea35";
}

.icm-pushpin:before {
  content: "\ea36";
}

.icm-pushpin2:before {
  content: "\ea37";
}

.icm-location:before {
  content: "\ea38";
}

.icm-location2:before {
  content: "\ea39";
}

.icm-location3:before {
  content: "\ea3a";
}

.icm-location4:before {
  content: "\ea3b";
}

.icm-location5:before {
  content: "\ea3c";
}

.icm-location6:before {
  content: "\ea3d";
}

.icm-location7:before {
  content: "\ea3e";
}

.icm-compass:before {
  content: "\ea3f";
}

.icm-compass2:before {
  content: "\ea40";
}

.icm-compass3:before {
  content: "\ea41";
}

.icm-compass4:before {
  content: "\ea42";
}

.icm-compass5:before {
  content: "\ea43";
}

.icm-compass6:before {
  content: "\ea44";
}

.icm-map:before {
  content: "\ea45";
}

.icm-map2:before {
  content: "\ea46";
}

.icm-map3:before {
  content: "\ea47";
}

.icm-map4:before {
  content: "\ea48";
}

.icm-map5:before {
  content: "\ea49";
}

.icm-direction:before {
  content: "\ea4a";
}

.icm-reset:before {
  content: "\ea4b";
}

.icm-history:before {
  content: "\ea4c";
}

.icm-clock:before {
  content: "\ea4d";
}

.icm-clock2:before {
  content: "\ea4e";
}

.icm-clock3:before {
  content: "\ea4f";
}

.icm-clock4:before {
  content: "\ea50";
}

.icm-watch:before {
  content: "\ea51";
}

.icm-watch2:before {
  content: "\ea52";
}

.icm-alarm:before {
  content: "\ea53";
}

.icm-alarm-add:before {
  content: "\ea54";
}

.icm-alarm-check:before {
  content: "\ea55";
}

.icm-alarm-cancel:before {
  content: "\ea56";
}

.icm-bell:before {
  content: "\ea57";
}

.icm-bell2:before {
  content: "\ea58";
}

.icm-bell3:before {
  content: "\ea59";
}

.icm-bell-plus:before {
  content: "\ea5a";
}

.icm-bell-minus:before {
  content: "\ea5b";
}

.icm-bell-check:before {
  content: "\ea5c";
}

.icm-bell-cross:before {
  content: "\ea5d";
}

.icm-stopwatch:before {
  content: "\ea5e";
}

.icm-calendar:before {
  content: "\ea5f";
}

.icm-calendar2:before {
  content: "\ea60";
}

.icm-calendar3:before {
  content: "\ea61";
}

.icm-calendar4:before {
  content: "\ea62";
}

.icm-calendar5:before {
  content: "\ea63";
}

.icm-printer:before {
  content: "\ea64";
}

.icm-printer2:before {
  content: "\ea65";
}

.icm-printer3:before {
  content: "\ea66";
}

.icm-printer4:before {
  content: "\ea67";
}

.icm-shredder:before {
  content: "\ea68";
}

.icm-mouse:before {
  content: "\ea69";
}

.icm-mouse2:before {
  content: "\ea6a";
}

.icm-mouse-left:before {
  content: "\ea6b";
}

.icm-mouse-right:before {
  content: "\ea6c";
}

.icm-keyboard:before {
  content: "\ea6d";
}

.icm-keyboard2:before {
  content: "\ea6e";
}

.icm-typewriter:before {
  content: "\ea6f";
}

.icm-display:before {
  content: "\ea70";
}

.icm-display2:before {
  content: "\ea71";
}

.icm-display3:before {
  content: "\ea72";
}

.icm-display4:before {
  content: "\ea73";
}

.icm-laptop:before {
  content: "\ea74";
}

.icm-mobile:before {
  content: "\ea75";
}

.icm-mobile2:before {
  content: "\ea76";
}

.icm-tablet:before {
  content: "\ea77";
}

.icm-mobile3:before {
  content: "\ea78";
}

.icm-tv:before {
  content: "\ea79";
}

.icm-radio:before {
  content: "\ea7a";
}

.icm-cabinet:before {
  content: "\ea7b";
}

.icm-drawer:before {
  content: "\ea7c";
}

.icm-drawer2:before {
  content: "\ea7d";
}

.icm-drawer-out:before {
  content: "\ea7e";
}

.icm-drawer-in:before {
  content: "\ea7f";
}

.icm-drawer3:before {
  content: "\ea80";
}

.icm-box:before {
  content: "\ea81";
}

.icm-box-add:before {
  content: "\ea82";
}

.icm-box-remove:before {
  content: "\ea83";
}

.icm-download:before {
  content: "\ea84";
}

.icm-upload:before {
  content: "\ea85";
}

.icm-floppy-disk:before {
  content: "\ea86";
}

.icm-floppy-disks:before {
  content: "\ea87";
}

.icm-floppy-disks2:before {
  content: "\ea88";
}

.icm-floppy-disk2:before {
  content: "\ea89";
}

.icm-floppy-disk3:before {
  content: "\ea8a";
}

.icm-disk:before {
  content: "\ea8b";
}

.icm-disk2:before {
  content: "\ea8c";
}

.icm-usb-stick:before {
  content: "\ea8d";
}

.icm-drive:before {
  content: "\ea8e";
}

.icm-server:before {
  content: "\ea8f";
}

.icm-database:before {
  content: "\ea90";
}

.icm-database2:before {
  content: "\ea91";
}

.icm-database3:before {
  content: "\ea92";
}

.icm-database4:before {
  content: "\ea93";
}

.icm-database-menu:before {
  content: "\ea94";
}

.icm-database-add:before {
  content: "\ea95";
}

.icm-database-remove:before {
  content: "\ea96";
}

.icm-database-insert:before {
  content: "\ea97";
}

.icm-database-export:before {
  content: "\ea98";
}

.icm-database-upload:before {
  content: "\ea99";
}

.icm-database-refresh:before {
  content: "\ea9a";
}

.icm-database-diff:before {
  content: "\ea9b";
}

.icm-database-edit:before {
  content: "\ea9c";
}

.icm-database-edit2:before {
  content: "\ea9d";
}

.icm-database-check:before {
  content: "\ea9e";
}

.icm-database-arrow:before {
  content: "\ea9f";
}

.icm-database-time:before {
  content: "\eaa0";
}

.icm-database-time2:before {
  content: "\eaa1";
}

.icm-undo:before {
  content: "\eaa2";
}

.icm-redo:before {
  content: "\eaa3";
}

.icm-rotate-ccw:before {
  content: "\eaa4";
}

.icm-rotate-cw:before {
  content: "\eaa5";
}

.icm-rotate-ccw2:before {
  content: "\eaa6";
}

.icm-rotate-cw2:before {
  content: "\eaa7";
}

.icm-rotate-ccw3:before {
  content: "\eaa8";
}

.icm-rotate-cw3:before {
  content: "\eaa9";
}

.icm-flip-vertical:before {
  content: "\eaaa";
}

.icm-flip-vertical2:before {
  content: "\eaab";
}

.icm-flip-horizontal:before {
  content: "\eaac";
}

.icm-flip-horizontal2:before {
  content: "\eaad";
}

.icm-flip-vertical3:before {
  content: "\eaae";
}

.icm-flip-vertical4:before {
  content: "\eaaf";
}

.icm-angle:before {
  content: "\eab0";
}

.icm-shear:before {
  content: "\eab1";
}

.icm-unite:before {
  content: "\eab2";
}

.icm-subtract:before {
  content: "\eab3";
}

.icm-interset:before {
  content: "\eab4";
}

.icm-exclude:before {
  content: "\eab5";
}

.icm-align-left:before {
  content: "\eab6";
}

.icm-align-center-horizontal:before {
  content: "\eab7";
}

.icm-align-right:before {
  content: "\eab8";
}

.icm-align-top:before {
  content: "\eab9";
}

.icm-align-center-vertical:before {
  content: "\eaba";
}

.icm-align-bottom:before {
  content: "\eabb";
}

.icm-undo2:before {
  content: "\eabc";
}

.icm-redo2:before {
  content: "\eabd";
}

.icm-forward:before {
  content: "\eabe";
}

.icm-reply:before {
  content: "\eabf";
}

.icm-reply-all:before {
  content: "\eac0";
}

.icm-bubble:before {
  content: "\eac1";
}

.icm-bubbles:before {
  content: "\eac2";
}

.icm-bubbles2:before {
  content: "\eac3";
}

.icm-bubble2:before {
  content: "\eac4";
}

.icm-bubbles3:before {
  content: "\eac5";
}

.icm-bubbles4:before {
  content: "\eac6";
}

.icm-bubble-notification:before {
  content: "\eac7";
}

.icm-bubbles5:before {
  content: "\eac8";
}

.icm-bubbles6:before {
  content: "\eac9";
}

.icm-bubble3:before {
  content: "\eaca";
}

.icm-bubble-dots:before {
  content: "\eacb";
}

.icm-bubble-lines:before {
  content: "\eacc";
}

.icm-bubble4:before {
  content: "\eacd";
}

.icm-bubble-dots2:before {
  content: "\eace";
}

.icm-bubble-lines2:before {
  content: "\eacf";
}

.icm-bubble5:before {
  content: "\ead0";
}

.icm-bubble6:before {
  content: "\ead1";
}

.icm-bubbles7:before {
  content: "\ead2";
}

.icm-bubble7:before {
  content: "\ead3";
}

.icm-bubbles8:before {
  content: "\ead4";
}

.icm-bubble8:before {
  content: "\ead5";
}

.icm-bubble-dots3:before {
  content: "\ead6";
}

.icm-bubble-lines3:before {
  content: "\ead7";
}

.icm-bubble9:before {
  content: "\ead8";
}

.icm-bubble-dots4:before {
  content: "\ead9";
}

.icm-bubble-lines4:before {
  content: "\eada";
}

.icm-bubbles9:before {
  content: "\eadb";
}

.icm-bubbles10:before {
  content: "\eadc";
}

.icm-bubble-blocked:before {
  content: "\eadd";
}

.icm-bubble-quote:before {
  content: "\eade";
}

.icm-bubble-user:before {
  content: "\eadf";
}

.icm-bubble-smiley:before {
  content: "\eae0";
}

.icm-bubble-check:before {
  content: "\eae1";
}

.icm-bubble-video:before {
  content: "\eae2";
}

.icm-bubble-link:before {
  content: "\eae3";
}

.icm-bubble-lock:before {
  content: "\eae4";
}

.icm-bubble-star:before {
  content: "\eae5";
}

.icm-bubble-heart:before {
  content: "\eae6";
}

.icm-bubble-paperclip:before {
  content: "\eae7";
}

.icm-bubble-cancel:before {
  content: "\eae8";
}

.icm-bubble-plus:before {
  content: "\eae9";
}

.icm-bubble-minus:before {
  content: "\eaea";
}

.icm-bubble-notification2:before {
  content: "\eaeb";
}

.icm-bubble-left:before {
  content: "\eaec";
}

.icm-bubble-right:before {
  content: "\eaed";
}

.icm-bubble-first:before {
  content: "\eaee";
}

.icm-bubble-last:before {
  content: "\eaef";
}

.icm-bubble-reply:before {
  content: "\eaf0";
}

.icm-bubble-forward:before {
  content: "\eaf1";
}

.icm-bubble-reply2:before {
  content: "\eaf2";
}

.icm-bubble-forward2:before {
  content: "\eaf3";
}

.icm-user:before {
  content: "\eaf4";
}

.icm-users:before {
  content: "\eaf5";
}

.icm-user-plus:before {
  content: "\eaf6";
}

.icm-user-minus:before {
  content: "\eaf7";
}

.icm-user-cancel:before {
  content: "\eaf8";
}

.icm-user-block:before {
  content: "\eaf9";
}

.icm-user-lock:before {
  content: "\eafa";
}

.icm-user-check:before {
  content: "\eafb";
}

.icm-users2:before {
  content: "\eafc";
}

.icm-user2:before {
  content: "\eafd";
}

.icm-users3:before {
  content: "\eafe";
}

.icm-user-plus2:before {
  content: "\eaff";
}

.icm-user-minus2:before {
  content: "\eb00";
}

.icm-user-cancel2:before {
  content: "\eb01";
}

.icm-user-block2:before {
  content: "\eb02";
}

.icm-user-lock2:before {
  content: "\eb03";
}

.icm-user-check2:before {
  content: "\eb04";
}

.icm-user3:before {
  content: "\eb05";
}

.icm-user4:before {
  content: "\eb06";
}

.icm-user5:before {
  content: "\eb07";
}

.icm-user6:before {
  content: "\eb08";
}

.icm-users4:before {
  content: "\eb09";
}

.icm-user-tie:before {
  content: "\eb0a";
}

.icm-user7:before {
  content: "\eb0b";
}

.icm-users5:before {
  content: "\eb0c";
}

.icm-collaboration:before {
  content: "\eb0d";
}

.icm-vcard:before {
  content: "\eb0e";
}

.icm-hat:before {
  content: "\eb0f";
}

.icm-bowtie:before {
  content: "\eb10";
}

.icm-tie:before {
  content: "\eb11";
}

.icm-hanger:before {
  content: "\eb12";
}

.icm-tshirt:before {
  content: "\eb13";
}

.icm-pants:before {
  content: "\eb14";
}

.icm-shorts:before {
  content: "\eb15";
}

.icm-sock:before {
  content: "\eb16";
}

.icm-laundry:before {
  content: "\eb17";
}

.icm-quotes-left:before {
  content: "\eb18";
}

.icm-quotes-right:before {
  content: "\eb19";
}

.icm-quotes-left2:before {
  content: "\eb1a";
}

.icm-quotes-right2:before {
  content: "\eb1b";
}

.icm-hour-glass:before {
  content: "\eb1c";
}

.icm-hour-glass2:before {
  content: "\eb1d";
}

.icm-hour-glass3:before {
  content: "\eb1e";
}

.icm-spinner:before {
  content: "\eb1f";
}

.icm-spinner2:before {
  content: "\eb20";
}

.icm-spinner3:before {
  content: "\eb21";
}

.icm-spinner4:before {
  content: "\eb22";
}

.icm-spinner5:before {
  content: "\eb23";
}

.icm-spinner6:before {
  content: "\eb24";
}

.icm-spinner7:before {
  content: "\eb25";
}

.icm-spinner8:before {
  content: "\eb26";
}

.icm-spinner9:before {
  content: "\eb27";
}

.icm-spinner10:before {
  content: "\eb28";
}

.icm-spinner11:before {
  content: "\eb29";
}

.icm-microscope:before {
  content: "\eb2a";
}

.icm-binoculars:before {
  content: "\eb2b";
}

.icm-binoculars2:before {
  content: "\eb2c";
}

.icm-search:before {
  content: "\eb2d";
}

.icm-zoom-in:before {
  content: "\eb2e";
}

.icm-zoom-out:before {
  content: "\eb2f";
}

.icm-search2:before {
  content: "\eb30";
}

.icm-zoom-in2:before {
  content: "\eb31";
}

.icm-zoom-out2:before {
  content: "\eb32";
}

.icm-search3:before {
  content: "\eb33";
}

.icm-search4:before {
  content: "\eb34";
}

.icm-zoom-in3:before {
  content: "\eb35";
}

.icm-zoom-out3:before {
  content: "\eb36";
}

.icm-search5:before {
  content: "\eb37";
}

.icm-search6:before {
  content: "\eb38";
}

.icm-enlarge:before {
  content: "\eb39";
}

.icm-shrink:before {
  content: "\eb3a";
}

.icm-enlarge2:before {
  content: "\eb3b";
}

.icm-shrink2:before {
  content: "\eb3c";
}

.icm-enlarge3:before {
  content: "\eb3d";
}

.icm-shrink3:before {
  content: "\eb3e";
}

.icm-enlarge4:before {
  content: "\eb3f";
}

.icm-shrink4:before {
  content: "\eb40";
}

.icm-enlarge5:before {
  content: "\eb41";
}

.icm-shrink5:before {
  content: "\eb42";
}

.icm-enlarge6:before {
  content: "\eb43";
}

.icm-shrink6:before {
  content: "\eb44";
}

.icm-enlarge7:before {
  content: "\eb45";
}

.icm-shrink7:before {
  content: "\eb46";
}

.icm-key:before {
  content: "\eb47";
}

.icm-key2:before {
  content: "\eb48";
}

.icm-key3:before {
  content: "\eb49";
}

.icm-key4:before {
  content: "\eb4a";
}

.icm-key5:before {
  content: "\eb4b";
}

.icm-keyhole:before {
  content: "\eb4c";
}

.icm-lock:before {
  content: "\eb4d";
}

.icm-lock2:before {
  content: "\eb4e";
}

.icm-lock3:before {
  content: "\eb4f";
}

.icm-lock4:before {
  content: "\eb50";
}

.icm-unlocked:before {
  content: "\eb51";
}

.icm-lock5:before {
  content: "\eb52";
}

.icm-unlocked2:before {
  content: "\eb53";
}

.icm-safe:before {
  content: "\eb54";
}

.icm-wrench:before {
  content: "\eb55";
}

.icm-wrench2:before {
  content: "\eb56";
}

.icm-wrench3:before {
  content: "\eb57";
}

.icm-equalizer:before {
  content: "\eb58";
}

.icm-equalizer2:before {
  content: "\eb59";
}

.icm-equalizer3:before {
  content: "\eb5a";
}

.icm-equalizer4:before {
  content: "\eb5b";
}

.icm-cog:before {
  content: "\eb5c";
}

.icm-cogs:before {
  content: "\eb5d";
}

.icm-cog2:before {
  content: "\eb5e";
}

.icm-cog3:before {
  content: "\eb5f";
}

.icm-cog4:before {
  content: "\eb60";
}

.icm-cog5:before {
  content: "\eb61";
}

.icm-cog6:before {
  content: "\eb62";
}

.icm-cog7:before {
  content: "\eb63";
}

.icm-factory:before {
  content: "\eb64";
}

.icm-hammer:before {
  content: "\eb65";
}

.icm-hammer-wrench:before {
  content: "\eb66";
}

.icm-knife:before {
  content: "\eb67";
}

.icm-screwdriver:before {
  content: "\eb68";
}

.icm-screwdriver2:before {
  content: "\eb69";
}

.icm-magic-wand:before {
  content: "\eb6a";
}

.icm-magic-wand2:before {
  content: "\eb6b";
}

.icm-pulse:before {
  content: "\eb6c";
}

.icm-pulse2:before {
  content: "\eb6d";
}

.icm-aid-kit:before {
  content: "\eb6e";
}

.icm-aid-kit2:before {
  content: "\eb6f";
}

.icm-stethoscope:before {
  content: "\eb70";
}

.icm-ambulance:before {
  content: "\eb71";
}

.icm-alarm2:before {
  content: "\eb72";
}

.icm-pandage:before {
  content: "\eb73";
}

.icm-pandage2:before {
  content: "\eb74";
}

.icm-bug:before {
  content: "\eb75";
}

.icm-bug2:before {
  content: "\eb76";
}

.icm-syringe:before {
  content: "\eb77";
}

.icm-syringe2:before {
  content: "\eb78";
}

.icm-pill:before {
  content: "\eb79";
}

.icm-construction:before {
  content: "\eb7a";
}

.icm-traffic-cone:before {
  content: "\eb7b";
}

.icm-traffic-lights:before {
  content: "\eb7c";
}

.icm-pie-chart:before {
  content: "\eb7d";
}

.icm-pie-chart2:before {
  content: "\eb7e";
}

.icm-pie-chart3:before {
  content: "\eb7f";
}

.icm-pie-chart4:before {
  content: "\eb80";
}

.icm-pie-chart5:before {
  content: "\eb81";
}

.icm-pie-chart6:before {
  content: "\eb82";
}

.icm-pie-chart7:before {
  content: "\eb83";
}

.icm-stats-dots:before {
  content: "\eb84";
}

.icm-stats-bars:before {
  content: "\eb85";
}

.icm-pie-chart8:before {
  content: "\eb86";
}

.icm-stats-bars2:before {
  content: "\eb87";
}

.icm-stats-bars3:before {
  content: "\eb88";
}

.icm-stats-bars4:before {
  content: "\eb89";
}

.icm-stats-bars5:before {
  content: "\eb8a";
}

.icm-stats-bars6:before {
  content: "\eb8b";
}

.icm-chart:before {
  content: "\eb8c";
}

.icm-stats-growth:before {
  content: "\eb8d";
}

.icm-stats-decline:before {
  content: "\eb8e";
}

.icm-stats-growth2:before {
  content: "\eb8f";
}

.icm-stats-decline2:before {
  content: "\eb90";
}

.icm-stairs-up:before {
  content: "\eb91";
}

.icm-stairs-down:before {
  content: "\eb92";
}

.icm-stairs:before {
  content: "\eb93";
}

.icm-stairs2:before {
  content: "\eb94";
}

.icm-ladder:before {
  content: "\eb95";
}

.icm-rating:before {
  content: "\eb96";
}

.icm-rating2:before {
  content: "\eb97";
}

.icm-rating3:before {
  content: "\eb98";
}

.icm-cake:before {
  content: "\eb99";
}

.icm-podium:before {
  content: "\eb9a";
}

.icm-stars:before {
  content: "\eb9b";
}

.icm-medal-star:before {
  content: "\eb9c";
}

.icm-medal:before {
  content: "\eb9d";
}

.icm-medal2:before {
  content: "\eb9e";
}

.icm-medal-first:before {
  content: "\eb9f";
}

.icm-medal-second:before {
  content: "\eba0";
}

.icm-medal-third:before {
  content: "\eba1";
}

.icm-crown:before {
  content: "\eba2";
}

.icm-trophy:before {
  content: "\eba3";
}

.icm-trophy2:before {
  content: "\eba4";
}

.icm-trophy3:before {
  content: "\eba5";
}

.icm-diamond:before {
  content: "\eba6";
}

.icm-diamond2:before {
  content: "\eba7";
}

.icm-trophy4:before {
  content: "\eba8";
}

.icm-gift:before {
  content: "\eba9";
}

.icm-gift2:before {
  content: "\ebaa";
}

.icm-balloon:before {
  content: "\ebab";
}

.icm-pipe:before {
  content: "\ebac";
}

.icm-mustache:before {
  content: "\ebad";
}

.icm-mustache2:before {
  content: "\ebae";
}

.icm-glass:before {
  content: "\ebaf";
}

.icm-glass2:before {
  content: "\ebb0";
}

.icm-glass3:before {
  content: "\ebb1";
}

.icm-glass4:before {
  content: "\ebb2";
}

.icm-bottle:before {
  content: "\ebb3";
}

.icm-bottle2:before {
  content: "\ebb4";
}

.icm-bottle3:before {
  content: "\ebb5";
}

.icm-bottle4:before {
  content: "\ebb6";
}

.icm-mug:before {
  content: "\ebb7";
}

.icm-fork-knife:before {
  content: "\ebb8";
}

.icm-spoon-knife:before {
  content: "\ebb9";
}

.icm-cook:before {
  content: "\ebba";
}

.icm-plate:before {
  content: "\ebbb";
}

.icm-steak:before {
  content: "\ebbc";
}

.icm-fish:before {
  content: "\ebbd";
}

.icm-chicken:before {
  content: "\ebbe";
}

.icm-hamburger:before {
  content: "\ebbf";
}

.icm-pizza:before {
  content: "\ebc0";
}

.icm-cheese:before {
  content: "\ebc1";
}

.icm-bread:before {
  content: "\ebc2";
}

.icm-icecream:before {
  content: "\ebc3";
}

.icm-milk:before {
  content: "\ebc4";
}

.icm-cup:before {
  content: "\ebc5";
}

.icm-cup2:before {
  content: "\ebc6";
}

.icm-coffee-baen:before {
  content: "\ebc7";
}

.icm-coffee:before {
  content: "\ebc8";
}

.icm-teapot:before {
  content: "\ebc9";
}

.icm-leaf:before {
  content: "\ebca";
}

.icm-leaf2:before {
  content: "\ebcb";
}

.icm-apple:before {
  content: "\ebcc";
}

.icm-grapes:before {
  content: "\ebcd";
}

.icm-cherry:before {
  content: "\ebce";
}

.icm-tree:before {
  content: "\ebcf";
}

.icm-tree2:before {
  content: "\ebd0";
}

.icm-tree3:before {
  content: "\ebd1";
}

.icm-tree4:before {
  content: "\ebd2";
}

.icm-cactus:before {
  content: "\ebd3";
}

.icm-mountains:before {
  content: "\ebd4";
}

.icm-paw:before {
  content: "\ebd5";
}

.icm-footprint:before {
  content: "\ebd6";
}

.icm-tent:before {
  content: "\ebd7";
}

.icm-flower:before {
  content: "\ebd8";
}

.icm-flower2:before {
  content: "\ebd9";
}

.icm-rocket:before {
  content: "\ebda";
}

.icm-meter:before {
  content: "\ebdb";
}

.icm-meter2:before {
  content: "\ebdc";
}

.icm-meter-slow:before {
  content: "\ebdd";
}

.icm-meter-medium:before {
  content: "\ebde";
}

.icm-meter-fast:before {
  content: "\ebdf";
}

.icm-meter3:before {
  content: "\ebe0";
}

.icm-hammer2:before {
  content: "\ebe1";
}

.icm-balance:before {
  content: "\ebe2";
}

.icm-scale:before {
  content: "\ebe3";
}

.icm-bomb:before {
  content: "\ebe4";
}

.icm-fire:before {
  content: "\ebe5";
}

.icm-fire2:before {
  content: "\ebe6";
}

.icm-lab:before {
  content: "\ebe7";
}

.icm-atom:before {
  content: "\ebe8";
}

.icm-atom2:before {
  content: "\ebe9";
}

.icm-magnet:before {
  content: "\ebea";
}

.icm-magnet2:before {
  content: "\ebeb";
}

.icm-dumbbell:before {
  content: "\ebec";
}

.icm-skull:before {
  content: "\ebed";
}

.icm-skull2:before {
  content: "\ebee";
}

.icm-lamp:before {
  content: "\ebef";
}

.icm-lamp2:before {
  content: "\ebf0";
}

.icm-lamp3:before {
  content: "\ebf1";
}

.icm-spotlight:before {
  content: "\ebf2";
}

.icm-lamp4:before {
  content: "\ebf3";
}

.icm-lamp5:before {
  content: "\ebf4";
}

.icm-lamp6:before {
  content: "\ebf5";
}

.icm-lamp7:before {
  content: "\ebf6";
}

.icm-lamp8:before {
  content: "\ebf7";
}

.icm-broom:before {
  content: "\ebf8";
}

.icm-toiletpaper:before {
  content: "\ebf9";
}

.icm-bin:before {
  content: "\ebfa";
}

.icm-bin2:before {
  content: "\ebfb";
}

.icm-bin3:before {
  content: "\ebfc";
}

.icm-bin4:before {
  content: "\ebfd";
}

.icm-bin5:before {
  content: "\ebfe";
}

.icm-briefcase:before {
  content: "\ebff";
}

.icm-briefcase2:before {
  content: "\ec00";
}

.icm-briefcase3:before {
  content: "\ec01";
}

.icm-airplane:before {
  content: "\ec02";
}

.icm-airplane2:before {
  content: "\ec03";
}

.icm-airplane3:before {
  content: "\ec04";
}

.icm-airplane4:before {
  content: "\ec05";
}

.icm-paperplane:before {
  content: "\ec06";
}

.icm-car:before {
  content: "\ec07";
}

.icm-steering-wheel:before {
  content: "\ec08";
}

.icm-car2:before {
  content: "\ec09";
}

.icm-gas:before {
  content: "\ec0a";
}

.icm-bus:before {
  content: "\ec0b";
}

.icm-truck:before {
  content: "\ec0c";
}

.icm-bike:before {
  content: "\ec0d";
}

.icm-road:before {
  content: "\ec0e";
}

.icm-train:before {
  content: "\ec0f";
}

.icm-train2:before {
  content: "\ec10";
}

.icm-ship:before {
  content: "\ec11";
}

.icm-boat:before {
  content: "\ec12";
}

.icm-chopper:before {
  content: "\ec13";
}

.icm-chopper2:before {
  content: "\ec14";
}

.icm-cube:before {
  content: "\ec15";
}

.icm-cube2:before {
  content: "\ec16";
}

.icm-cube3:before {
  content: "\ec17";
}

.icm-cube4:before {
  content: "\ec18";
}

.icm-pyramid:before {
  content: "\ec19";
}

.icm-pyramid2:before {
  content: "\ec1a";
}

.icm-package:before {
  content: "\ec1b";
}

.icm-puzzle:before {
  content: "\ec1c";
}

.icm-puzzle2:before {
  content: "\ec1d";
}

.icm-puzzle3:before {
  content: "\ec1e";
}

.icm-puzzle4:before {
  content: "\ec1f";
}

.icm-glasses-3d:before {
  content: "\ec20";
}

.icm-glasses-3d2:before {
  content: "\ec21";
}

.icm-glasses:before {
  content: "\ec22";
}

.icm-glasses2:before {
  content: "\ec23";
}

.icm-brain:before {
  content: "\ec24";
}

.icm-accessibility:before {
  content: "\ec25";
}

.icm-accessibility2:before {
  content: "\ec26";
}

.icm-strategy:before {
  content: "\ec27";
}

.icm-target:before {
  content: "\ec28";
}

.icm-target2:before {
  content: "\ec29";
}

.icm-target3:before {
  content: "\ec2a";
}

.icm-ammo:before {
  content: "\ec2b";
}

.icm-gun:before {
  content: "\ec2c";
}

.icm-gun-forbidden:before {
  content: "\ec2d";
}

.icm-shield:before {
  content: "\ec2e";
}

.icm-shield-check:before {
  content: "\ec2f";
}

.icm-shield-notice:before {
  content: "\ec30";
}

.icm-shield2:before {
  content: "\ec31";
}

.icm-shield3:before {
  content: "\ec32";
}

.icm-shield4:before {
  content: "\ec33";
}

.icm-soccer:before {
  content: "\ec34";
}

.icm-football:before {
  content: "\ec35";
}

.icm-archery:before {
  content: "\ec36";
}

.icm-bow:before {
  content: "\ec37";
}

.icm-sword:before {
  content: "\ec38";
}

.icm-tennis:before {
  content: "\ec39";
}

.icm-pingpong:before {
  content: "\ec3a";
}

.icm-baseball:before {
  content: "\ec3b";
}

.icm-basketball:before {
  content: "\ec3c";
}

.icm-golf:before {
  content: "\ec3d";
}

.icm-golf2:before {
  content: "\ec3e";
}

.icm-hockey:before {
  content: "\ec3f";
}

.icm-racing:before {
  content: "\ec40";
}

.icm-finish:before {
  content: "\ec41";
}

.icm-eight-ball:before {
  content: "\ec42";
}

.icm-bowling:before {
  content: "\ec43";
}

.icm-bowling2:before {
  content: "\ec44";
}

.icm-power:before {
  content: "\ec45";
}

.icm-power2:before {
  content: "\ec46";
}

.icm-power3:before {
  content: "\ec47";
}

.icm-switch:before {
  content: "\ec48";
}

.icm-switch2:before {
  content: "\ec49";
}

.icm-power-cord:before {
  content: "\ec4a";
}

.icm-power-cord2:before {
  content: "\ec4b";
}

.icm-outlet:before {
  content: "\ec4c";
}

.icm-clipboard:before {
  content: "\ec4d";
}

.icm-clipboard2:before {
  content: "\ec4e";
}

.icm-clipboard3:before {
  content: "\ec4f";
}

.icm-clipboard4:before {
  content: "\ec50";
}

.icm-clipboard5:before {
  content: "\ec51";
}

.icm-clipboard6:before {
  content: "\ec52";
}

.icm-playlist:before {
  content: "\ec53";
}

.icm-playlist-add:before {
  content: "\ec54";
}

.icm-list-numbered:before {
  content: "\ec55";
}

.icm-list:before {
  content: "\ec56";
}

.icm-list2:before {
  content: "\ec57";
}

.icm-more:before {
  content: "\ec58";
}

.icm-more2:before {
  content: "\ec59";
}

.icm-grid:before {
  content: "\ec5a";
}

.icm-grid2:before {
  content: "\ec5b";
}

.icm-grid3:before {
  content: "\ec5c";
}

.icm-grid4:before {
  content: "\ec5d";
}

.icm-grid5:before {
  content: "\ec5e";
}

.icm-grid6:before {
  content: "\ec5f";
}

.icm-grid7:before {
  content: "\ec60";
}

.icm-tree5:before {
  content: "\ec61";
}

.icm-tree6:before {
  content: "\ec62";
}

.icm-tree7:before {
  content: "\ec63";
}

.icm-lan:before {
  content: "\ec64";
}

.icm-lan2:before {
  content: "\ec65";
}

.icm-lan3:before {
  content: "\ec66";
}

.icm-menu:before {
  content: "\ec67";
}

.icm-circle-small:before {
  content: "\ec68";
}

.icm-menu2:before {
  content: "\ec69";
}

.icm-menu3:before {
  content: "\ec6a";
}

.icm-menu4:before {
  content: "\ec6b";
}

.icm-menu5:before {
  content: "\ec6c";
}

.icm-menu6:before {
  content: "\ec6d";
}

.icm-menu7:before {
  content: "\ec6e";
}

.icm-menu8:before {
  content: "\ec6f";
}

.icm-menu9:before {
  content: "\ec70";
}

.icm-menu10:before {
  content: "\ec71";
}

.icm-cloud:before {
  content: "\ec72";
}

.icm-cloud-download:before {
  content: "\ec73";
}

.icm-cloud-upload:before {
  content: "\ec74";
}

.icm-cloud-check:before {
  content: "\ec75";
}

.icm-cloud2:before {
  content: "\ec76";
}

.icm-cloud-download2:before {
  content: "\ec77";
}

.icm-cloud-upload2:before {
  content: "\ec78";
}

.icm-cloud-check2:before {
  content: "\ec79";
}

.icm-download2:before {
  content: "\ec7a";
}

.icm-download3:before {
  content: "\ec7b";
}

.icm-upload2:before {
  content: "\ec7c";
}

.icm-upload3:before {
  content: "\ec7d";
}

.icm-import:before {
  content: "\ec7e";
}

.icm-import2:before {
  content: "\ec7f";
}

.icm-download4:before {
  content: "\ec80";
}

.icm-upload4:before {
  content: "\ec81";
}

.icm-download5:before {
  content: "\ec82";
}

.icm-upload5:before {
  content: "\ec83";
}

.icm-download6:before {
  content: "\ec84";
}

.icm-upload6:before {
  content: "\ec85";
}

.icm-download7:before {
  content: "\ec86";
}

.icm-upload7:before {
  content: "\ec87";
}

.icm-download8:before {
  content: "\ec88";
}

.icm-upload8:before {
  content: "\ec89";
}

.icm-download9:before {
  content: "\ec8a";
}

.icm-upload9:before {
  content: "\ec8b";
}

.icm-download10:before {
  content: "\ec8c";
}

.icm-upload10:before {
  content: "\ec8d";
}

.icm-sphere:before {
  content: "\ec8e";
}

.icm-sphere2:before {
  content: "\ec8f";
}

.icm-sphere3:before {
  content: "\ec90";
}

.icm-planet:before {
  content: "\ec91";
}

.icm-planet2:before {
  content: "\ec92";
}

.icm-earth:before {
  content: "\ec93";
}

.icm-earth2:before {
  content: "\ec94";
}

.icm-earth3:before {
  content: "\ec95";
}

.icm-link:before {
  content: "\ec96";
}

.icm-unlink:before {
  content: "\ec97";
}

.icm-link2:before {
  content: "\ec98";
}

.icm-unlink2:before {
  content: "\ec99";
}

.icm-link3:before {
  content: "\ec9a";
}

.icm-unlink3:before {
  content: "\ec9b";
}

.icm-link4:before {
  content: "\ec9c";
}

.icm-unlink4:before {
  content: "\ec9d";
}

.icm-link5:before {
  content: "\ec9e";
}

.icm-unlink5:before {
  content: "\ec9f";
}

.icm-anchor:before {
  content: "\eca0";
}

.icm-flag:before {
  content: "\eca1";
}

.icm-flag2:before {
  content: "\eca2";
}

.icm-flag3:before {
  content: "\eca3";
}

.icm-flag4:before {
  content: "\eca4";
}

.icm-flag5:before {
  content: "\eca5";
}

.icm-flag6:before {
  content: "\eca6";
}

.icm-flag7:before {
  content: "\eca7";
}

.icm-flag8:before {
  content: "\eca8";
}

.icm-attachment:before {
  content: "\eca9";
}

.icm-attachment2:before {
  content: "\ecaa";
}

.icm-eye:before {
  content: "\ecab";
}

.icm-eye-plus:before {
  content: "\ecac";
}

.icm-eye-minus:before {
  content: "\ecad";
}

.icm-eye-blocked:before {
  content: "\ecae";
}

.icm-eye2:before {
  content: "\ecaf";
}

.icm-eye-blocked2:before {
  content: "\ecb0";
}

.icm-eye3:before {
  content: "\ecb1";
}

.icm-eye-blocked3:before {
  content: "\ecb2";
}

.icm-eye4:before {
  content: "\ecb3";
}

.icm-bookmark2:before {
  content: "\ecb4";
}

.icm-bookmark3:before {
  content: "\ecb5";
}

.icm-bookmarks:before {
  content: "\ecb6";
}

.icm-bookmark4:before {
  content: "\ecb7";
}

.icm-spotlight2:before {
  content: "\ecb8";
}

.icm-starburst:before {
  content: "\ecb9";
}

.icm-snowflake:before {
  content: "\ecba";
}

.icm-temperature:before {
  content: "\ecbb";
}

.icm-temperature2:before {
  content: "\ecbc";
}

.icm-weather-lightning:before {
  content: "\ecbd";
}

.icm-weather-lightning2:before {
  content: "\ecbe";
}

.icm-weather-rain:before {
  content: "\ecbf";
}

.icm-weather-rain2:before {
  content: "\ecc0";
}

.icm-weather-snow:before {
  content: "\ecc1";
}

.icm-weather-snow2:before {
  content: "\ecc2";
}

.icm-weather-cloud-wind:before {
  content: "\ecc3";
}

.icm-weather-cloud-wind2:before {
  content: "\ecc4";
}

.icm-weather-cloud-sun:before {
  content: "\ecc5";
}

.icm-weather-cloud-sun2:before {
  content: "\ecc6";
}

.icm-weather-cloudy:before {
  content: "\ecc7";
}

.icm-weather-cloudy2:before {
  content: "\ecc8";
}

.icm-weather-sun-wind:before {
  content: "\ecc9";
}

.icm-weather-sun-wind2:before {
  content: "\ecca";
}

.icm-sun:before {
  content: "\eccb";
}

.icm-sun2:before {
  content: "\eccc";
}

.icm-moon:before {
  content: "\eccd";
}

.icm-day-night:before {
  content: "\ecce";
}

.icm-day-night2:before {
  content: "\eccf";
}

.icm-weather-windy:before {
  content: "\ecd0";
}

.icm-fan:before {
  content: "\ecd1";
}

.icm-umbrella:before {
  content: "\ecd2";
}

.icm-sun3:before {
  content: "\ecd3";
}

.icm-contrast:before {
  content: "\ecd4";
}

.icm-brightness-contrast:before {
  content: "\ecd5";
}

.icm-brightness-high:before {
  content: "\ecd6";
}

.icm-brightness-medium:before {
  content: "\ecd7";
}

.icm-brightness-low:before {
  content: "\ecd8";
}

.icm-bed:before {
  content: "\ecd9";
}

.icm-bed2:before {
  content: "\ecda";
}

.icm-furniture:before {
  content: "\ecdb";
}

.icm-chair:before {
  content: "\ecdc";
}

.icm-star-empty:before {
  content: "\ecdd";
}

.icm-star-empty2:before {
  content: "\ecde";
}

.icm-star-full:before {
  content: "\ecdf";
}

.icm-star-empty3:before {
  content: "\ece0";
}

.icm-star-half:before {
  content: "\ece1";
}

.icm-star-full2:before {
  content: "\ece2";
}

.icm-star:before {
  content: "\ece3";
}

.icm-heart:before {
  content: "\ece4";
}

.icm-heart2:before {
  content: "\ece5";
}

.icm-heart3:before {
  content: "\ece6";
}

.icm-heart4:before {
  content: "\ece7";
}

.icm-heart-broken:before {
  content: "\ece8";
}

.icm-heart5:before {
  content: "\ece9";
}

.icm-heart6:before {
  content: "\ecea";
}

.icm-heart-broken2:before {
  content: "\eceb";
}

.icm-heart7:before {
  content: "\ecec";
}

.icm-heart8:before {
  content: "\eced";
}

.icm-heart-broken3:before {
  content: "\ecee";
}

.icm-lips:before {
  content: "\ecef";
}

.icm-lips2:before {
  content: "\ecf0";
}

.icm-thumbs-up:before {
  content: "\ecf1";
}

.icm-thumbs-up2:before {
  content: "\ecf2";
}

.icm-thumbs-down:before {
  content: "\ecf3";
}

.icm-thumbs-down2:before {
  content: "\ecf4";
}

.icm-thumbs-up3:before {
  content: "\ecf5";
}

.icm-thumbs-down3:before {
  content: "\ecf6";
}

.icm-height:before {
  content: "\ecf7";
}

.icm-man:before {
  content: "\ecf8";
}

.icm-woman:before {
  content: "\ecf9";
}

.icm-man-woman:before {
  content: "\ecfa";
}

.icm-male:before {
  content: "\ecfb";
}

.icm-female:before {
  content: "\ecfc";
}

.icm-peace:before {
  content: "\ecfd";
}

.icm-yin-yang:before {
  content: "\ecfe";
}

.icm-happy:before {
  content: "\ecff";
}

.icm-happy2:before {
  content: "\ed00";
}

.icm-smile:before {
  content: "\ed01";
}

.icm-smile2:before {
  content: "\ed02";
}

.icm-tongue:before {
  content: "\ed03";
}

.icm-tongue2:before {
  content: "\ed04";
}

.icm-sad:before {
  content: "\ed05";
}

.icm-sad2:before {
  content: "\ed06";
}

.icm-wink:before {
  content: "\ed07";
}

.icm-wink2:before {
  content: "\ed08";
}

.icm-grin:before {
  content: "\ed09";
}

.icm-grin2:before {
  content: "\ed0a";
}

.icm-cool:before {
  content: "\ed0b";
}

.icm-cool2:before {
  content: "\ed0c";
}

.icm-angry:before {
  content: "\ed0d";
}

.icm-angry2:before {
  content: "\ed0e";
}

.icm-evil:before {
  content: "\ed0f";
}

.icm-evil2:before {
  content: "\ed10";
}

.icm-shocked:before {
  content: "\ed11";
}

.icm-shocked2:before {
  content: "\ed12";
}

.icm-baffled:before {
  content: "\ed13";
}

.icm-baffled2:before {
  content: "\ed14";
}

.icm-confused:before {
  content: "\ed15";
}

.icm-confused2:before {
  content: "\ed16";
}

.icm-neutral:before {
  content: "\ed17";
}

.icm-neutral2:before {
  content: "\ed18";
}

.icm-hipster:before {
  content: "\ed19";
}

.icm-hipster2:before {
  content: "\ed1a";
}

.icm-wondering:before {
  content: "\ed1b";
}

.icm-wondering2:before {
  content: "\ed1c";
}

.icm-sleepy:before {
  content: "\ed1d";
}

.icm-sleepy2:before {
  content: "\ed1e";
}

.icm-frustrated:before {
  content: "\ed1f";
}

.icm-frustrated2:before {
  content: "\ed20";
}

.icm-crying:before {
  content: "\ed21";
}

.icm-crying2:before {
  content: "\ed22";
}

.icm-cursor:before {
  content: "\ed23";
}

.icm-cursor2:before {
  content: "\ed24";
}

.icm-lasso:before {
  content: "\ed25";
}

.icm-lasso2:before {
  content: "\ed26";
}

.icm-select:before {
  content: "\ed27";
}

.icm-select2:before {
  content: "\ed28";
}

.icm-point-up:before {
  content: "\ed29";
}

.icm-point-right:before {
  content: "\ed2a";
}

.icm-point-down:before {
  content: "\ed2b";
}

.icm-point-left:before {
  content: "\ed2c";
}

.icm-pointer:before {
  content: "\ed2d";
}

.icm-reminder:before {
  content: "\ed2e";
}

.icm-drag-left-right:before {
  content: "\ed2f";
}

.icm-drag-left:before {
  content: "\ed30";
}

.icm-drag-right:before {
  content: "\ed31";
}

.icm-touch:before {
  content: "\ed32";
}

.icm-multitouch:before {
  content: "\ed33";
}

.icm-touch-zoom:before {
  content: "\ed34";
}

.icm-touch-pinch:before {
  content: "\ed35";
}

.icm-hand:before {
  content: "\ed36";
}

.icm-grab:before {
  content: "\ed37";
}

.icm-stack-empty:before {
  content: "\ed38";
}

.icm-stack-plus:before {
  content: "\ed39";
}

.icm-stack-minus:before {
  content: "\ed3a";
}

.icm-stack-star:before {
  content: "\ed3b";
}

.icm-stack-picture:before {
  content: "\ed3c";
}

.icm-stack-down:before {
  content: "\ed3d";
}

.icm-stack-up:before {
  content: "\ed3e";
}

.icm-stack-cancel:before {
  content: "\ed3f";
}

.icm-stack-check:before {
  content: "\ed40";
}

.icm-stack-text:before {
  content: "\ed41";
}

.icm-stack-clubs:before {
  content: "\ed42";
}

.icm-stack-spades:before {
  content: "\ed43";
}

.icm-stack-hearts:before {
  content: "\ed44";
}

.icm-stack-diamonds:before {
  content: "\ed45";
}

.icm-stack-user:before {
  content: "\ed46";
}

.icm-stack4:before {
  content: "\ed47";
}

.icm-stack-music:before {
  content: "\ed48";
}

.icm-stack-play:before {
  content: "\ed49";
}

.icm-move:before {
  content: "\ed4a";
}

.icm-dots:before {
  content: "\ed4b";
}

.icm-warning:before {
  content: "\ed4c";
}

.icm-warning2:before {
  content: "\ed4d";
}

.icm-notification:before {
  content: "\ed4e";
}

.icm-notification2:before {
  content: "\ed4f";
}

.icm-question:before {
  content: "\ed50";
}

.icm-question2:before {
  content: "\ed51";
}

.icm-question3:before {
  content: "\ed52";
}

.icm-question4:before {
  content: "\ed53";
}

.icm-question5:before {
  content: "\ed54";
}

.icm-question6:before {
  content: "\ed55";
}

.icm-plus:before {
  content: "\ed56";
}

.icm-minus:before {
  content: "\ed57";
}

.icm-plus2:before {
  content: "\ed58";
}

.icm-minus2:before {
  content: "\ed59";
}

.icm-plus3:before {
  content: "\ed5a";
}

.icm-minus3:before {
  content: "\ed5b";
}

.icm-plus-circle:before {
  content: "\ed5c";
}

.icm-minus-circle:before {
  content: "\ed5d";
}

.icm-plus-circle2:before {
  content: "\ed5e";
}

.icm-minus-circle2:before {
  content: "\ed5f";
}

.icm-info:before {
  content: "\ed60";
}

.icm-info2:before {
  content: "\ed61";
}

.icm-cancel-circle:before {
  content: "\ed62";
}

.icm-cancel-circle2:before {
  content: "\ed63";
}

.icm-blocked:before {
  content: "\ed64";
}

.icm-cancel-square:before {
  content: "\ed65";
}

.icm-cancel-square2:before {
  content: "\ed66";
}

.icm-cancel:before {
  content: "\ed67";
}

.icm-spam:before {
  content: "\ed68";
}

.icm-cross:before {
  content: "\ed69";
}

.icm-cross2:before {
  content: "\ed6a";
}

.icm-cross3:before {
  content: "\ed6b";
}

.icm-checkmark:before {
  content: "\ed6c";
}

.icm-checkmark2:before {
  content: "\ed6d";
}

.icm-checkmark3:before {
  content: "\ed6e";
}

.icm-checkmark4:before {
  content: "\ed6f";
}

.icm-checkmark5:before {
  content: "\ed70";
}

.icm-spell-check:before {
  content: "\ed71";
}

.icm-spell-check2:before {
  content: "\ed72";
}

.icm-enter:before {
  content: "\ed73";
}

.icm-exit:before {
  content: "\ed74";
}

.icm-enter2:before {
  content: "\ed75";
}

.icm-exit2:before {
  content: "\ed76";
}

.icm-enter3:before {
  content: "\ed77";
}

.icm-exit3:before {
  content: "\ed78";
}

.icm-wall:before {
  content: "\ed79";
}

.icm-fence:before {
  content: "\ed7a";
}

.icm-play3:before {
  content: "\ed7b";
}

.icm-pause:before {
  content: "\ed7c";
}

.icm-stop:before {
  content: "\ed7d";
}

.icm-previous:before {
  content: "\ed7e";
}

.icm-next:before {
  content: "\ed7f";
}

.icm-backward:before {
  content: "\ed80";
}

.icm-forward2:before {
  content: "\ed81";
}

.icm-play4:before {
  content: "\ed82";
}

.icm-pause2:before {
  content: "\ed83";
}

.icm-stop2:before {
  content: "\ed84";
}

.icm-backward2:before {
  content: "\ed85";
}

.icm-forward3:before {
  content: "\ed86";
}

.icm-first:before {
  content: "\ed87";
}

.icm-last:before {
  content: "\ed88";
}

.icm-previous2:before {
  content: "\ed89";
}

.icm-next2:before {
  content: "\ed8a";
}

.icm-eject:before {
  content: "\ed8b";
}

.icm-volume-high:before {
  content: "\ed8c";
}

.icm-volume-medium:before {
  content: "\ed8d";
}

.icm-volume-low:before {
  content: "\ed8e";
}

.icm-volume-mute:before {
  content: "\ed8f";
}

.icm-speaker-left:before {
  content: "\ed90";
}

.icm-speaker-right:before {
  content: "\ed91";
}

.icm-volume-mute2:before {
  content: "\ed92";
}

.icm-volume-increase:before {
  content: "\ed93";
}

.icm-volume-decrease:before {
  content: "\ed94";
}

.icm-volume-high2:before {
  content: "\ed95";
}

.icm-volume-medium2:before {
  content: "\ed96";
}

.icm-volume-medium3:before {
  content: "\ed97";
}

.icm-volume-low2:before {
  content: "\ed98";
}

.icm-volume-mute3:before {
  content: "\ed99";
}

.icm-volume-increase2:before {
  content: "\ed9a";
}

.icm-volume-decrease2:before {
  content: "\ed9b";
}

.icm-volume-decrease3:before {
  content: "\ed9c";
}

.icm-volume-5:before {
  content: "\ed9d";
}

.icm-volume-4:before {
  content: "\ed9e";
}

.icm-volume-3:before {
  content: "\ed9f";
}

.icm-volume-2:before {
  content: "\eda0";
}

.icm-volume-1:before {
  content: "\eda1";
}

.icm-volume-0:before {
  content: "\eda2";
}

.icm-volume-mute4:before {
  content: "\eda3";
}

.icm-volume-mute5:before {
  content: "\eda4";
}

.icm-loop:before {
  content: "\eda5";
}

.icm-loop2:before {
  content: "\eda6";
}

.icm-loop3:before {
  content: "\eda7";
}

.icm-infinite-square:before {
  content: "\eda8";
}

.icm-infinite:before {
  content: "\eda9";
}

.icm-infinite2:before {
  content: "\edaa";
}

.icm-loop4:before {
  content: "\edab";
}

.icm-shuffle:before {
  content: "\edac";
}

.icm-shuffle2:before {
  content: "\edad";
}

.icm-wave:before {
  content: "\edae";
}

.icm-wave2:before {
  content: "\edaf";
}

.icm-split:before {
  content: "\edb0";
}

.icm-merge:before {
  content: "\edb1";
}

.icm-first2:before {
  content: "\edb2";
}

.icm-last2:before {
  content: "\edb3";
}

.icm-arrow-up:before {
  content: "\edb4";
}

.icm-arrow-up2:before {
  content: "\edb5";
}

.icm-arrow-up3:before {
  content: "\edb6";
}

.icm-arrow-up4:before {
  content: "\edb7";
}

.icm-arrow-right:before {
  content: "\edb8";
}

.icm-arrow-right2:before {
  content: "\edb9";
}

.icm-arrow-right3:before {
  content: "\edba";
}

.icm-arrow-right4:before {
  content: "\edbb";
}

.icm-arrow-down:before {
  content: "\edbc";
}

.icm-arrow-down2:before {
  content: "\edbd";
}

.icm-arrow-down3:before {
  content: "\edbe";
}

.icm-arrow-down4:before {
  content: "\edbf";
}

.icm-arrow-left:before {
  content: "\edc0";
}

.icm-arrow-left2:before {
  content: "\edc1";
}

.icm-arrow-left3:before {
  content: "\edc2";
}

.icm-arrow-left4:before {
  content: "\edc3";
}

.icm-arrow-up5:before {
  content: "\edc4";
}

.icm-arrow-right5:before {
  content: "\edc5";
}

.icm-arrow-down5:before {
  content: "\edc6";
}

.icm-arrow-left5:before {
  content: "\edc7";
}

.icm-arrow-up-left:before {
  content: "\edc8";
}

.icm-arrow-up6:before {
  content: "\edc9";
}

.icm-arrow-up-right:before {
  content: "\edca";
}

.icm-arrow-right6:before {
  content: "\edcb";
}

.icm-arrow-down-right:before {
  content: "\edcc";
}

.icm-arrow-down6:before {
  content: "\edcd";
}

.icm-arrow-down-left:before {
  content: "\edce";
}

.icm-arrow-left6:before {
  content: "\edcf";
}

.icm-arrow-up-left2:before {
  content: "\edd0";
}

.icm-arrow-up7:before {
  content: "\edd1";
}

.icm-arrow-up-right2:before {
  content: "\edd2";
}

.icm-arrow-right7:before {
  content: "\edd3";
}

.icm-arrow-down-right2:before {
  content: "\edd4";
}

.icm-arrow-down7:before {
  content: "\edd5";
}

.icm-arrow-down-left2:before {
  content: "\edd6";
}

.icm-arrow-left7:before {
  content: "\edd7";
}

.icm-arrow-up-left3:before {
  content: "\edd8";
}

.icm-arrow-up8:before {
  content: "\edd9";
}

.icm-arrow-up-right3:before {
  content: "\edda";
}

.icm-arrow-right8:before {
  content: "\eddb";
}

.icm-arrow-down-right3:before {
  content: "\eddc";
}

.icm-arrow-down8:before {
  content: "\eddd";
}

.icm-arrow-down-left3:before {
  content: "\edde";
}

.icm-arrow-left8:before {
  content: "\eddf";
}

.icm-circle-up:before {
  content: "\ede0";
}

.icm-circle-right:before {
  content: "\ede1";
}

.icm-circle-down:before {
  content: "\ede2";
}

.icm-circle-left:before {
  content: "\ede3";
}

.icm-circle-up2:before {
  content: "\ede4";
}

.icm-circle-right2:before {
  content: "\ede5";
}

.icm-circle-down2:before {
  content: "\ede6";
}

.icm-circle-left2:before {
  content: "\ede7";
}

.icm-circle-up-left:before {
  content: "\ede8";
}

.icm-circle-up3:before {
  content: "\ede9";
}

.icm-circle-up-right:before {
  content: "\edea";
}

.icm-circle-right3:before {
  content: "\edeb";
}

.icm-circle-down-right:before {
  content: "\edec";
}

.icm-circle-down3:before {
  content: "\eded";
}

.icm-circle-down-left:before {
  content: "\edee";
}

.icm-circle-left3:before {
  content: "\edef";
}

.icm-circle-up-left2:before {
  content: "\edf0";
}

.icm-circle-up4:before {
  content: "\edf1";
}

.icm-circle-up-right2:before {
  content: "\edf2";
}

.icm-circle-right4:before {
  content: "\edf3";
}

.icm-circle-down-right2:before {
  content: "\edf4";
}

.icm-circle-down4:before {
  content: "\edf5";
}

.icm-circle-down-left2:before {
  content: "\edf6";
}

.icm-circle-left4:before {
  content: "\edf7";
}

.icm-arrow-resize:before {
  content: "\edf8";
}

.icm-arrow-resize2:before {
  content: "\edf9";
}

.icm-arrow-resize3:before {
  content: "\edfa";
}

.icm-arrow-resize4:before {
  content: "\edfb";
}

.icm-arrow-resize5:before {
  content: "\edfc";
}

.icm-arrow-resize6:before {
  content: "\edfd";
}

.icm-arrow-resize7:before {
  content: "\edfe";
}

.icm-arrow-resize8:before {
  content: "\edff";
}

.icm-square-up-left:before {
  content: "\ee00";
}

.icm-square-up:before {
  content: "\ee01";
}

.icm-square-up-right:before {
  content: "\ee02";
}

.icm-square-right:before {
  content: "\ee03";
}

.icm-square-down-right:before {
  content: "\ee04";
}

.icm-square-down:before {
  content: "\ee05";
}

.icm-square-down-left:before {
  content: "\ee06";
}

.icm-square-left:before {
  content: "\ee07";
}

.icm-arrow-up9:before {
  content: "\ee08";
}

.icm-arrow-right9:before {
  content: "\ee09";
}

.icm-arrow-down9:before {
  content: "\ee0a";
}

.icm-arrow-left9:before {
  content: "\ee0b";
}

.icm-arrow-up10:before {
  content: "\ee0c";
}

.icm-arrow-right10:before {
  content: "\ee0d";
}

.icm-arrow-down10:before {
  content: "\ee0e";
}

.icm-arrow-left10:before {
  content: "\ee0f";
}

.icm-arrow-up-left4:before {
  content: "\ee10";
}

.icm-arrow-up11:before {
  content: "\ee11";
}

.icm-arrow-up-right4:before {
  content: "\ee12";
}

.icm-arrow-right11:before {
  content: "\ee13";
}

.icm-arrow-down-right4:before {
  content: "\ee14";
}

.icm-arrow-down11:before {
  content: "\ee15";
}

.icm-arrow-down-left4:before {
  content: "\ee16";
}

.icm-arrow-left11:before {
  content: "\ee17";
}

.icm-arrow-up-left5:before {
  content: "\ee18";
}

.icm-arrow-up12:before {
  content: "\ee19";
}

.icm-arrow-up-right5:before {
  content: "\ee1a";
}

.icm-arrow-right12:before {
  content: "\ee1b";
}

.icm-arrow-down-right5:before {
  content: "\ee1c";
}

.icm-arrow-down12:before {
  content: "\ee1d";
}

.icm-arrow-down-left5:before {
  content: "\ee1e";
}

.icm-arrow-left12:before {
  content: "\ee1f";
}

.icm-arrow-up13:before {
  content: "\ee20";
}

.icm-arrow-right13:before {
  content: "\ee21";
}

.icm-arrow-down13:before {
  content: "\ee22";
}

.icm-arrow-left13:before {
  content: "\ee23";
}

.icm-arrow-up14:before {
  content: "\ee24";
}

.icm-arrow-right14:before {
  content: "\ee25";
}

.icm-arrow-down14:before {
  content: "\ee26";
}

.icm-arrow-left14:before {
  content: "\ee27";
}

.icm-circle-up5:before {
  content: "\ee28";
}

.icm-circle-right5:before {
  content: "\ee29";
}

.icm-circle-down5:before {
  content: "\ee2a";
}

.icm-circle-left5:before {
  content: "\ee2b";
}

.icm-circle-up6:before {
  content: "\ee2c";
}

.icm-circle-right6:before {
  content: "\ee2d";
}

.icm-circle-down6:before {
  content: "\ee2e";
}

.icm-circle-left6:before {
  content: "\ee2f";
}

.icm-arrow-up15:before {
  content: "\ee30";
}

.icm-arrow-right15:before {
  content: "\ee31";
}

.icm-arrow-down15:before {
  content: "\ee32";
}

.icm-arrow-left15:before {
  content: "\ee33";
}

.icm-arrow-up16:before {
  content: "\ee34";
}

.icm-arrow-right16:before {
  content: "\ee35";
}

.icm-arrow-down16:before {
  content: "\ee36";
}

.icm-arrow-left16:before {
  content: "\ee37";
}

.icm-menu-open:before {
  content: "\ee38";
}

.icm-menu-open2:before {
  content: "\ee39";
}

.icm-menu-close:before {
  content: "\ee3a";
}

.icm-menu-close2:before {
  content: "\ee3b";
}

.icm-enter4:before {
  content: "\ee3c";
}

.icm-enter5:before {
  content: "\ee3d";
}

.icm-esc:before {
  content: "\ee3e";
}

.icm-enter6:before {
  content: "\ee3f";
}

.icm-backspace:before {
  content: "\ee40";
}

.icm-backspace2:before {
  content: "\ee41";
}

.icm-tab:before {
  content: "\ee42";
}

.icm-transmission:before {
  content: "\ee43";
}

.icm-transmission2:before {
  content: "\ee44";
}

.icm-sort:before {
  content: "\ee45";
}

.icm-sort2:before {
  content: "\ee46";
}

.icm-move-up:before {
  content: "\ee47";
}

.icm-move-down:before {
  content: "\ee48";
}

.icm-sort-alpha-asc:before {
  content: "\ee49";
}

.icm-sort-alpha-desc:before {
  content: "\ee4a";
}

.icm-sort-numeric-asc:before {
  content: "\ee4b";
}

.icm-sort-numberic-desc:before {
  content: "\ee4c";
}

.icm-sort-amount-asc:before {
  content: "\ee4d";
}

.icm-sort-amount-desc:before {
  content: "\ee4e";
}

.icm-sort-time-asc:before {
  content: "\ee4f";
}

.icm-sort-time-desc:before {
  content: "\ee50";
}

.icm-battery-6:before {
  content: "\ee51";
}

.icm-battery-5:before {
  content: "\ee52";
}

.icm-battery-4:before {
  content: "\ee53";
}

.icm-battery-3:before {
  content: "\ee54";
}

.icm-battery-2:before {
  content: "\ee55";
}

.icm-battery-1:before {
  content: "\ee56";
}

.icm-battery-0:before {
  content: "\ee57";
}

.icm-battery-charging:before {
  content: "\ee58";
}

.icm-key-keyboard:before {
  content: "\ee59";
}

.icm-key-A:before {
  content: "\ee5a";
}

.icm-key-up:before {
  content: "\ee5b";
}

.icm-key-right:before {
  content: "\ee5c";
}

.icm-key-down:before {
  content: "\ee5d";
}

.icm-key-left:before {
  content: "\ee5e";
}

.icm-command:before {
  content: "\ee5f";
}

.icm-shift:before {
  content: "\ee60";
}

.icm-ctrl:before {
  content: "\ee61";
}

.icm-opt:before {
  content: "\ee62";
}

.icm-checkbox-checked:before {
  content: "\ee63";
}

.icm-checkbox-unchecked:before {
  content: "\ee64";
}

.icm-checkbox-partial:before {
  content: "\ee65";
}

.icm-square:before {
  content: "\ee66";
}

.icm-triangle:before {
  content: "\ee67";
}

.icm-triangle2:before {
  content: "\ee68";
}

.icm-diamond3:before {
  content: "\ee69";
}

.icm-diamond4:before {
  content: "\ee6a";
}

.icm-checkbox-checked2:before {
  content: "\ee6b";
}

.icm-checkbox-unchecked2:before {
  content: "\ee6c";
}

.icm-checkbox-partial2:before {
  content: "\ee6d";
}

.icm-radio-checked:before {
  content: "\ee6e";
}

.icm-radio-checked2:before {
  content: "\ee6f";
}

.icm-radio-unchecked:before {
  content: "\ee70";
}

.icm-toggle-on:before {
  content: "\ee71";
}

.icm-toggle-off:before {
  content: "\ee72";
}

.icm-checkmark-circle:before {
  content: "\ee73";
}

.icm-circle:before {
  content: "\ee74";
}

.icm-circle2:before {
  content: "\ee75";
}

.icm-circles:before {
  content: "\ee76";
}

.icm-circles2:before {
  content: "\ee77";
}

.icm-crop:before {
  content: "\ee78";
}

.icm-crop2:before {
  content: "\ee79";
}

.icm-make-group:before {
  content: "\ee7a";
}

.icm-ungroup:before {
  content: "\ee7b";
}

.icm-vector:before {
  content: "\ee7c";
}

.icm-vector2:before {
  content: "\ee7d";
}

.icm-rulers:before {
  content: "\ee7e";
}

.icm-ruler:before {
  content: "\ee7f";
}

.icm-pencil-ruler:before {
  content: "\ee80";
}

.icm-scissors:before {
  content: "\ee81";
}

.icm-scissors2:before {
  content: "\ee82";
}

.icm-scissors3:before {
  content: "\ee83";
}

.icm-haircut:before {
  content: "\ee84";
}

.icm-comb:before {
  content: "\ee85";
}

.icm-filter:before {
  content: "\ee86";
}

.icm-filter2:before {
  content: "\ee87";
}

.icm-filter3:before {
  content: "\ee88";
}

.icm-filter4:before {
  content: "\ee89";
}

.icm-font:before {
  content: "\ee8a";
}

.icm-ampersand:before {
  content: "\ee8b";
}

.icm-ligature:before {
  content: "\ee8c";
}

.icm-ligature2:before {
  content: "\ee8d";
}

.icm-font-size:before {
  content: "\ee8e";
}

.icm-typography:before {
  content: "\ee8f";
}

.icm-text-height:before {
  content: "\ee90";
}

.icm-text-width:before {
  content: "\ee91";
}

.icm-height2:before {
  content: "\ee92";
}

.icm-width:before {
  content: "\ee93";
}

.icm-bold:before {
  content: "\ee94";
}

.icm-underline:before {
  content: "\ee95";
}

.icm-italic:before {
  content: "\ee96";
}

.icm-strikethrough:before {
  content: "\ee97";
}

.icm-strikethrough2:before {
  content: "\ee98";
}

.icm-font-size2:before {
  content: "\ee99";
}

.icm-bold2:before {
  content: "\ee9a";
}

.icm-underline2:before {
  content: "\ee9b";
}

.icm-italic2:before {
  content: "\ee9c";
}

.icm-strikethrough3:before {
  content: "\ee9d";
}

.icm-omega:before {
  content: "\ee9e";
}

.icm-sigma:before {
  content: "\ee9f";
}

.icm-nbsp:before {
  content: "\eea0";
}

.icm-page-break:before {
  content: "\eea1";
}

.icm-page-break2:before {
  content: "\eea2";
}

.icm-superscript:before {
  content: "\eea3";
}

.icm-subscript:before {
  content: "\eea4";
}

.icm-superscript2:before {
  content: "\eea5";
}

.icm-subscript2:before {
  content: "\eea6";
}

.icm-text-color:before {
  content: "\eea7";
}

.icm-highlight:before {
  content: "\eea8";
}

.icm-pagebreak:before {
  content: "\eea9";
}

.icm-clear-formatting:before {
  content: "\eeaa";
}

.icm-table:before {
  content: "\eeab";
}

.icm-table2:before {
  content: "\eeac";
}

.icm-insert-template:before {
  content: "\eead";
}

.icm-pilcrow:before {
  content: "\eeae";
}

.icm-ltr:before {
  content: "\eeaf";
}

.icm-rtl:before {
  content: "\eeb0";
}

.icm-ltr2:before {
  content: "\eeb1";
}

.icm-rtl2:before {
  content: "\eeb2";
}

.icm-section:before {
  content: "\eeb3";
}

.icm-paragraph-left:before {
  content: "\eeb4";
}

.icm-paragraph-center:before {
  content: "\eeb5";
}

.icm-paragraph-right:before {
  content: "\eeb6";
}

.icm-paragraph-justify:before {
  content: "\eeb7";
}

.icm-paragraph-left2:before {
  content: "\eeb8";
}

.icm-paragraph-center2:before {
  content: "\eeb9";
}

.icm-paragraph-right2:before {
  content: "\eeba";
}

.icm-paragraph-justify2:before {
  content: "\eebb";
}

.icm-indent-increase:before {
  content: "\eebc";
}

.icm-indent-decrease:before {
  content: "\eebd";
}

.icm-paragraph-left3:before {
  content: "\eebe";
}

.icm-paragraph-center3:before {
  content: "\eebf";
}

.icm-paragraph-right3:before {
  content: "\eec0";
}

.icm-paragraph-justify3:before {
  content: "\eec1";
}

.icm-indent-increase2:before {
  content: "\eec2";
}

.icm-indent-decrease2:before {
  content: "\eec3";
}

.icm-share:before {
  content: "\eec4";
}

.icm-share2:before {
  content: "\eec5";
}

.icm-new-tab:before {
  content: "\eec6";
}

.icm-new-tab2:before {
  content: "\eec7";
}

.icm-popout:before {
  content: "\eec8";
}

.icm-embed:before {
  content: "\eec9";
}

.icm-embed2:before {
  content: "\eeca";
}

.icm-markup:before {
  content: "\eecb";
}

.icm-regexp:before {
  content: "\eecc";
}

.icm-regexp2:before {
  content: "\eecd";
}

.icm-code:before {
  content: "\eece";
}

.icm-circle-css:before {
  content: "\eecf";
}

.icm-circle-code:before {
  content: "\eed0";
}

.icm-terminal:before {
  content: "\eed1";
}

.icm-unicode:before {
  content: "\eed2";
}

.icm-seven-segment-0:before {
  content: "\eed3";
}

.icm-seven-segment-1:before {
  content: "\eed4";
}

.icm-seven-segment-2:before {
  content: "\eed5";
}

.icm-seven-segment-3:before {
  content: "\eed6";
}

.icm-seven-segment-4:before {
  content: "\eed7";
}

.icm-seven-segment-5:before {
  content: "\eed8";
}

.icm-seven-segment-6:before {
  content: "\eed9";
}

.icm-seven-segment-7:before {
  content: "\eeda";
}

.icm-seven-segment-8:before {
  content: "\eedb";
}

.icm-seven-segment-9:before {
  content: "\eedc";
}

.icm-share3:before {
  content: "\eedd";
}

.icm-share4:before {
  content: "\eede";
}

.icm-mail:before {
  content: "\eedf";
}

.icm-mail2:before {
  content: "\eee0";
}

.icm-mail3:before {
  content: "\eee1";
}

.icm-mail4:before {
  content: "\eee2";
}

.icm-google:before {
  content: "\eee3";
}

.icm-google-plus:before {
  content: "\eee4";
}

.icm-google-plus2:before {
  content: "\eee5";
}

.icm-google-plus3:before {
  content: "\eee6";
}

.icm-google-drive:before {
  content: "\eee7";
}

.icm-facebook:before {
  content: "\eee8";
}

.icm-facebook2:before {
  content: "\eee9";
}

.icm-facebook3:before {
  content: "\eeea";
}

.icm-ello:before {
  content: "\eeeb";
}

.icm-instagram:before {
  content: "\eeec";
}

.icm-twitter:before {
  content: "\eeed";
}

.icm-twitter2:before {
  content: "\eeee";
}

.icm-twitter3:before {
  content: "\eeef";
}

.icm-feed2:before {
  content: "\eef0";
}

.icm-feed3:before {
  content: "\eef1";
}

.icm-feed4:before {
  content: "\eef2";
}

.icm-youtube:before {
  content: "\eef3";
}

.icm-youtube2:before {
  content: "\eef4";
}

.icm-youtube3:before {
  content: "\eef5";
}

.icm-youtube4:before {
  content: "\eef6";
}

.icm-twitch:before {
  content: "\eef7";
}

.icm-vimeo:before {
  content: "\eef8";
}

.icm-vimeo2:before {
  content: "\eef9";
}

.icm-vimeo3:before {
  content: "\eefa";
}

.icm-lanyrd:before {
  content: "\eefb";
}

.icm-flickr:before {
  content: "\eefc";
}

.icm-flickr2:before {
  content: "\eefd";
}

.icm-flickr3:before {
  content: "\eefe";
}

.icm-flickr4:before {
  content: "\eeff";
}

.icm-picassa:before {
  content: "\ef00";
}

.icm-picassa2:before {
  content: "\ef01";
}

.icm-dribbble:before {
  content: "\ef02";
}

.icm-dribbble2:before {
  content: "\ef03";
}

.icm-dribbble3:before {
  content: "\ef04";
}

.icm-forrst:before {
  content: "\ef05";
}

.icm-forrst2:before {
  content: "\ef06";
}

.icm-deviantart:before {
  content: "\ef07";
}

.icm-deviantart2:before {
  content: "\ef08";
}

.icm-steam:before {
  content: "\ef09";
}

.icm-steam2:before {
  content: "\ef0a";
}

.icm-dropbox:before {
  content: "\ef0b";
}

.icm-onedrive:before {
  content: "\ef0c";
}

.icm-github:before {
  content: "\ef0d";
}

.icm-github2:before {
  content: "\ef0e";
}

.icm-github3:before {
  content: "\ef0f";
}

.icm-github4:before {
  content: "\ef10";
}

.icm-github5:before {
  content: "\ef11";
}

.icm-wordpress:before {
  content: "\ef12";
}

.icm-wordpress2:before {
  content: "\ef13";
}

.icm-joomla:before {
  content: "\ef14";
}

.icm-blogger:before {
  content: "\ef15";
}

.icm-blogger2:before {
  content: "\ef16";
}

.icm-tumblr:before {
  content: "\ef17";
}

.icm-tumblr2:before {
  content: "\ef18";
}

.icm-yahoo:before {
  content: "\ef19";
}

.icm-tux:before {
  content: "\ef1a";
}

.icm-apple2:before {
  content: "\ef1b";
}

.icm-finder:before {
  content: "\ef1c";
}

.icm-android:before {
  content: "\ef1d";
}

.icm-windows:before {
  content: "\ef1e";
}

.icm-windows8:before {
  content: "\ef1f";
}

.icm-soundcloud:before {
  content: "\ef20";
}

.icm-soundcloud2:before {
  content: "\ef21";
}

.icm-skype:before {
  content: "\ef22";
}

.icm-reddit:before {
  content: "\ef23";
}

.icm-linkedin:before {
  content: "\ef24";
}

.icm-linkedin2:before {
  content: "\ef25";
}

.icm-lastfm:before {
  content: "\ef26";
}

.icm-lastfm2:before {
  content: "\ef27";
}

.icm-delicious:before {
  content: "\ef28";
}

.icm-stumbleupon:before {
  content: "\ef29";
}

.icm-stumbleupon2:before {
  content: "\ef2a";
}

.icm-stackoverflow:before {
  content: "\ef2b";
}

.icm-pinterest:before {
  content: "\ef2c";
}

.icm-pinterest2:before {
  content: "\ef2d";
}

.icm-xing:before {
  content: "\ef2e";
}

.icm-xing2:before {
  content: "\ef2f";
}

.icm-flattr:before {
  content: "\ef30";
}

.icm-foursquare:before {
  content: "\ef31";
}

.icm-paypal:before {
  content: "\ef32";
}

.icm-paypal2:before {
  content: "\ef33";
}

.icm-paypal3:before {
  content: "\ef34";
}

.icm-yelp:before {
  content: "\ef35";
}

.icm-file-pdf:before {
  content: "\ef36";
}

.icm-file-openoffice:before {
  content: "\ef37";
}

.icm-file-word:before {
  content: "\ef38";
}

.icm-file-excel:before {
  content: "\ef39";
}

.icm-libreoffice:before {
  content: "\ef3a";
}

.icm-html5:before {
  content: "\ef3b";
}

.icm-html52:before {
  content: "\ef3c";
}

.icm-css3:before {
  content: "\ef3d";
}

.icm-git:before {
  content: "\ef3e";
}

.icm-svg:before {
  content: "\ef3f";
}

.icm-codepen:before {
  content: "\ef40";
}

.icm-chrome:before {
  content: "\ef41";
}

.icm-firefox:before {
  content: "\ef42";
}

.icm-IE:before {
  content: "\ef43";
}

.icm-opera:before {
  content: "\ef44";
}

.icm-safari:before {
  content: "\ef45";
}

.icm-IcoMoon:before {
  content: "\ef46";
}

