<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to root_path, class: 'navbar-brand v-mid-row' do %>
          <%= image_tag 'logo64.png', style: 'width: 24px' %>
          <span>E-Learning</span>
      <% end %>
    </div>

    <% if user_signed_in? %>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <%= render_navigation expand_all: true, renderer: :bootstrap %>

          <ul class="nav navbar-nav navbar-right">
            <% if Rails.env.development? %>
                <li style="margin-right: 100px;" class="v-hidden">
                  <%= switch_user_select %>
                </li>
            <% end %>

            <li>
              <%= link_to messages_path do %>
                  <i class="icm icm-bell <%= 'text-danger' if current_user.has_notifications? %>"></i>
              <% end %>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name || current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to t('general.my_account'), edit_user_registration_path %></li>
                <li><%= link_to t('general.logout'), destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        </div>
    <% end %>

  </div>
</nav>