<!DOCTYPE html>
<html>
<head>
  <title>PlatformaCursuriOnline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">

  <div class="block">
    <%= render 'layouts/navbar' %>
  </div>

  <div class="block push">
    <div class="container">
      <div id="flash_messages"><%= flash_messages(:close) %></div>

      <% if user_signed_in? && current_user.has_notifications? %>
        <div class="alert alert-success">
          You have unread notifications
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <div class="block">
    <%= render 'layouts/footer' %>
  </div>

</div>
</body>
</html>
